.footer-buttons button {
    
    width: 100%;
    margin-top: 10px;
}

input, button {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

.main-div, .loggedin-div, .loggedin-user-area {
  display: none;
}

.create-account-btn {
  display: none;
}

.main-div input, .loggedin-div input, #phoneModel input {
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  padding: 15px;
  outline: none;
  width: 100%;
  margin-bottom: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.main-div input:focus, #phoneModel input:focus {
  border: 1px solid #777;
}

#phoneModel .verify,  #phoneModel .sendcode {
      margin-top:10px;
      width: 100%;
}

.main-div button, .loggedin-div button, #user_div button, #loggedin-user-area button {
  width: 100%;
}

