/*--------------------------------------------------------------
Hello, this is the BuddyPress Legacy stylesheet.

----------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Navigation
	1.1 - Pagination
2.0 - WordPress
	2.1 - Images
3.0 - BuddyPress
	3.1 - Activity
		3.1.1 - Activity Listing
		3.1.2 - Activity Comments
	3.2 - Toolbar
	3.3 - Directories - Members, Groups, Blogs, Forums
	3.4 - Error / Success Messages
	3.5 - Forms
	3.6 - Ajax Loading
	3.7 - Topics and Tables - Forums and General
	3.8 - Headers, Lists and Tabs - Activity, Groups, Blogs, Forums
		3.8.1 - Cover Image
	3.9 - Private Messaging Threads
	3.10 - Extended Profiles
4.0 - Buddypress Default Media Queries
	4.1 - Smartphones Landscape
	4.2 - Smartphones Portrait
	4.3 - Smartphones - smaller screen sizes	
5.0 - New Styles
6.0 - Transition
7.0 - Border radius
8.0 - Default Color
9.0 - Browser Fix
10.0 - DT Responsive

--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 - Navigation
--------------------------------------------------------------*/
/*----*****---- << 1.1 - Pagination >> ----*****----*/
#buddypress div.pagination {
	background: transparent;
	border: none;
	color: #888;
	font-size: small;
	margin: 0;
	position: relative;
	display: block;
	float: left;
	width: 100%;
	padding: 10px 0;
}
#buddypress div.pagination .pag-count {
	float: left;
	margin-left: 10px;
	line-height:37px;
}
#buddypress div.pagination .pagination-links {
	float: right;
}
#buddypress div.pagination .pagination-links span,
#buddypress div.pagination .pagination-links a {
	font-size: 90%;
	padding: 0 5px;
}
#buddypress noscript div.pagination {
	margin-bottom: 15px;
}
#buddypress #nav-above {
	display: none;
}
#buddypress .paged #nav-above {
	display: block;
}
/*--------------------------------------------------------------
2.0 - WordPress
--------------------------------------------------------------*/
/*----*****---- << 2.1 - Images >> ----*****----*/
#buddypress img.wp-smiley {
	border: none !important;
	clear: none !important;
	float: none !important;
	margin: 0 !important;
	padding: 0 !important;
}
#buddypress .clear {
	clear: left;
}

/*--------------------------------------------------------------
3.0 - BuddyPress
--------------------------------------------------------------*/
/*----*****---- << 3.1 - Activity >> ----*****----*/ 
#buddypress #activity-stream {
	margin-top: -5px;
}

#buddypress #activity-stream p {
	margin: 5px 0;
}

#buddypress #item-body form#whats-new-form {
	margin: 0;
	padding: 0;
}
#buddypress .home-page form#whats-new-form {
	border-bottom: none;
	padding-bottom: 0;
}
#buddypress form#whats-new-form textarea {
	height: 20px;
}
body.no-js #buddypress form#whats-new-form textarea {
	height: 50px;
}
#buddypress form#whats-new-form #whats-new-options { height:85px !important; display:block !important; }
#buddypress form#whats-new-form #whats-new-options selection-box {
	display: inline-block;
    max-width: 200px;
}
#buddypress form#whats-new-form #whats-new-options select { margin-left:10px; }
#buddypress form#whats-new-form #whats-new-submit {
	float: right;
	margin-bottom:20px;
}
#buddypress form#whats-new-form #whats-new-submit input {
    margin-top: 5px;
}
#buddypress #whats-new-options {
	height: 0;
}
body.no-js #buddypress #whats-new-options {
	height: auto;
}
#buddypress #whats-new:focus {
	border-color: rgba(31, 179, 221, 0.9) !important;
	outline-color: rgba(31, 179, 221, 0.9);
}

/*----*****---- << 3.1.1 - Activity Listing >> ----*****----*/ 
#buddypress ul.activity-list li {
	overflow: hidden;
	padding: 15px 0 0;
	list-style: none;
}
#buddypress ul.item-list.activity-list li.has-comments {
	padding-bottom: 15px;
}
body.activity-permalink #buddypress ul.activity-list li.has-comments {
	padding-bottom: 0;
}
#buddypress .activity-list li.mini {
	position: relative;
}
#buddypress .activity-permalink .activity-list li.mini .activity-avatar img.avatar,
#buddypress .activity-permalink .activity-list li.mini .activity-avatar img.FB_profile_pic {
	height: auto;
	margin-left: 0;
	width: auto;
}
body.activity-permalink #buddypress .activity-list > li:first-child {
	padding-top: 0;
}
#buddypress .activity-list li .activity-content {
	position: relative;
}
#buddypress .activity-list li.mini .activity-content p {
	margin: 0;
}
#buddypress .activity-list li.mini .activity-comments {
	clear: both;
	font-size: 120%;
}
body.activity-permalink #buddypress li.mini .activity-meta {
	margin-top: 4px;
}
#buddypress .activity-list li .activity-inreplyto {
	color: #888;
	font-size: 80%;
}
#buddypress .activity-list li .activity-inreplyto > p {
	margin: 0;
	display: inline;
}
#buddypress .activity-list li .activity-inreplyto blockquote,
#buddypress .activity-list li .activity-inreplyto div.activity-inner {
	background: none;
	border: none;
	display: inline;
	margin: 0;
	overflow: hidden;
	padding: 0;
}
#buddypress .activity-list .activity-content {
	margin: 0 0 0 95px;
}
body.activity-permalink #buddypress .activity-list li .activity-content {
	border: none;
	font-size: 100%;
	line-height: 150%;
	margin-right: 0;
	padding: 0;
}
body.activity-permalink #buddypress .activity-list li .activity-header > p {
	margin: 0;
	padding: 5px 0 0 0;
}
#buddypress .activity-list .activity-content .activity-header,
#buddypress .activity-list .activity-content .comment-header {
	color: #888;
	line-height: 220%;
}
#buddypress .activity-header {
	margin-right: 20px;
}
#buddypress .activity-header a,
#buddypress .comment-meta a,
#buddypress .acomment-meta a {
	text-decoration: none;
}
#buddypress .activity-list .activity-content .activity-header img.avatar {
	float: none !important;
	margin: 0 5px -8px 0 !important;
}
#buddypress a.bp-secondary-action,
#buddypress span.highlight {
	font-size: 80%;
	padding: 0;
	margin-right: 5px;
	text-decoration: none;
}
#buddypress .activity-list .activity-content .activity-inner,
#buddypress .activity-list .activity-content blockquote {
	margin: 0 10px 5px 0;
	overflow: hidden;
}
#buddypress .activity-list li.new_forum_post .activity-content .activity-inner,
#buddypress .activity-list li.new_forum_topic .activity-content .activity-inner {
	border-left: 2px solid #EAEAEA;
	margin-left: 5px;
	padding-left: 10px;
}
body.activity-permalink #buddypress .activity-content .activity-inner,
body.activity-permalink #buddypress .activity-content blockquote {
	margin-left: 0;
	margin-top: 5px;
}
#buddypress .activity-inner > p {
	word-wrap: break-word;
}
#buddypress .activity-inner > .activity-inner {
	margin: 0;
}
#buddypress .activity-inner > blockquote {
	margin: 0;
}
#buddypress .activity-list .activity-content img.thumbnail {
	border: 2px solid #eee;
	float: left;
	margin: 0 10px 5px 0;
}
#buddypress .activity-read-more {
	margin-left: 1em;
	white-space: nowrap;
}

/*----*****---- << 3.1.2 - Activity Comments >> ----*****----*/ 
body.activity-permalink #buddypress div.activity-meta {
	margin-bottom: 6px;
}
#buddypress div.activity-meta a {
	padding: 4px 8px;
}
#buddypress a.activity-time-since {
	color: #aaa;
	text-decoration: none;
}
#buddypress a.activity-time-since:hover {
	color: #888;
}
#buddypress a.bp-primary-action,
#buddypress #reply-title small a {
	font-size: 80%;
	margin-right: 5px;
	text-decoration: none;
}
#buddypress a.bp-primary-action span,
#buddypress #reply-title small a span {
	background: #999;
	color: #fff;
	font-size: 90%;
	margin-left: 2px;
	padding: 0 5px;
}
#buddypress a.bp-primary-action:hover span,
#buddypress #reply-title small a:hover span {
	background: #555;
	color: #fff;
}
#buddypress div.activity-comments {
	margin: 0 0 0 70px;
	overflow: hidden; /* IE fix */
	position: relative;
	width: auto;
	clear: both;
}
body.activity-permalink #buddypress div.activity-comments {
	background: none;
	margin-left: 100px;
	width: auto;
}
#buddypress div.activity-comments > ul {
	padding: 0 0 0 10px;
}
#buddypress div.activity-comments ul,
#buddypress div.activity-comments ul li {
	border: none;
	list-style: none;
}
#buddypress div.activity-comments ul {
	clear: both;
	margin: 0;
}
#buddypress div.activity-comments ul li {
	border-top: 1px solid #eee;
	padding: 10px 0 0;
}
body.activity-permalink #buddypress .activity-list li.mini .activity-comments {
	clear: none;
	margin-top: 0;
}
body.activity-permalink #buddypress div.activity-comments ul li {
	border-width: 1px;
	padding: 10px 0 0 0;
}
#buddypress div.activity-comments > ul > li:first-child {
	border-top: none;
}
#buddypress div.activity-comments ul li:last-child {
	margin-bottom: 0;
}
#buddypress div.activity-comments ul li > ul {
	margin-left: 30px;
	margin-top: 0;
	padding-left: 10px;
}
body.activity-permalink #buddypress div.activity-comments ul li > ul {
	margin-top: 10px;
}
body.activity-permalink #buddypress div.activity-comments > ul {
	padding: 0 10px 0 15px;
}
#buddypress div.activity-comments div.acomment-avatar img {
	border-width: 1px;
	float: left;
	height: 25px;
	margin-right: 10px;
	width: 25px;
}
#buddypress div.activity-comments div.acomment-content {
	margin: 5px 0 0 40px;
}
#buddypress div.acomment-content .time-since,
#buddypress div.acomment-content .activity-delete-link,
#buddypress div.acomment-content .comment-header {
	display: none;
}
#buddypress div.activity-comments div.acomment-meta {
	color: #888;
}
#buddypress div.activity-comments form.ac-form {
	display: none;
	padding: 10px;
}
#buddypress div.activity-comments li form.ac-form {
	margin-right: 0;
	clear: both;
	float:left; width:100%; box-sizing:border-box;
}
#buddypress div.activity-comments form.root {
	margin-left: 0;
}
#buddypress div.activity-comments div#message {
	margin-top: 15px;
	margin-bottom: 0;
}
#buddypress div.activity-comments form .ac-textarea {
	background: #fff;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	padding: 8px;
}
#buddypress div.activity-comments form textarea {
	border: none;
	background: transparent;
	box-shadow: none;
	outline: none;
	color: #555;
	font-family: inherit;
	font-size: 100%;
	height: 60px;
	padding: 0;
	margin: 0;
	width: 100%;
}
#buddypress div.activity-comments form input {
	margin-top: 5px;
}
#buddypress div.activity-comments form div.ac-reply-avatar {
	float: left;
}
#buddypress div.ac-reply-avatar img {
	border: 1px solid #eee;
}
#buddypress div.activity-comments form div.ac-reply-content {
	color: #888;
	margin-left: 50px;
	padding-left: 15px;
}
#buddypress div.activity-comments form div.ac-reply-content a {
	text-decoration: none;
}
#buddypress .acomment-options {
	float: left;
	margin: 5px 0 5px 40px;
}
#buddypress .acomment-options a {
	color: #999;
}
#buddypress .acomment-options a:hover {
	color: inherit;
}

/*----*****---- << 3.3 - Directories - Members, Groups, Blogs, Forums >> ----*****----*/ 

#buddypress .current-member-type {
	font-style: italic;
}
#buddypress .dir-form {
	clear: both;
}

/*----*****---- << 3.4 - Errors / Success Messages >> ----*****----*/ 
#buddypress div#message {
	margin: 0 0 15px;
}
#buddypress #message.info {
	margin-bottom: 0;
	float:left;
	width:100%;
}
#buddypress div#message.updated {
	clear: both;
	display: block;
}
#buddypress div#message p,
#sitewide-notice p {
	font-size: 90%;
	display: block;
	padding: 10px 15px;
}
#buddypress div#message.error p {
	background-color: #fdc;
	border: 1px solid #a00;
	clear: left;
	color: #800;
}
#buddypress div#message.warning p {
	background-color: #ffe0af;
	border: 1px solid #ffd087;
	clear: left;
	color: #800;
}
#buddypress div#message.updated p {
	background-color: #efc;
	border: 1px solid #591;
	color: #250;
}
#buddypress #pass-strength-result {
	background-color: #eee;
	border-color: #ddd;
	border-style: solid;
	border-width: 1px;
	display: none;
	margin: 5px 5px 5px 0;
	padding: 5px;
	text-align: center;
	width: 150px;
}
#buddypress .standard-form #basic-details-section #pass-strength-result {
	width: 35%;
}
#buddypress #pass-strength-result.error,
#buddypress #pass-strength-result.bad {
	background-color: #ffb78c;
	border-color: #ff853c !important;
	display: block;
}
#buddypress #pass-strength-result.good {
	background-color: #ffec8b;
	border-color: #fc0 !important;
	display: block;
}
#buddypress #pass-strength-result.short {
	background-color: #ffa0a0;
	border-color: #f04040 !important;
	display: block;
}
#buddypress #pass-strength-result.strong {
	background-color: #c3ff88;
	border-color: #8dff1c !important;
	display: block;
}
#buddypress .standard-form#signup_form div div.error {
	background: #faa;
	color: #a00;
	margin: 0 0 10px 0;
	padding: 6px;
	width: 90%;
}
#buddypress div.accept,
#buddypress div.reject {
	float: left;
	margin-left: 10px;
}
#buddypress ul.button-nav li {
	float: left;
	margin: 0 10px 10px 0;
	list-style: none;
}
#buddypress ul.button-nav li.current a {
	font-weight: bold;
}
#sitewide-notice #message {
	left: 2%;
	position: fixed;
	top: 1em;
	width: 96%;
	z-index: 9999;
}
#sitewide-notice.admin-bar-on #message {
	top: 3.3em;
}
#sitewide-notice strong {
	display: block;
	margin-bottom: -1em;
}

/*----*****---- << 3.5 - Forms >> ----*****----*/ 
#buddypress .standard-form textarea,
#buddypress .standard-form input[type=text],
#buddypress .standard-form input[type=text],
#buddypress .standard-form input[type=color],
#buddypress .standard-form input[type=date],
#buddypress .standard-form input[type=datetime],
#buddypress .standard-form input[type=datetime-local],
#buddypress .standard-form input[type=email],
#buddypress .standard-form input[type=month],
#buddypress .standard-form input[type=number],
#buddypress .standard-form input[type=range],
#buddypress .standard-form input[type=search],
#buddypress .standard-form input[type=tel],
#buddypress .standard-form input[type=time],
#buddypress .standard-form input[type=url],
#buddypress .standard-form input[type=week],
#buddypress .standard-form select,
#buddypress .standard-form input[type=password],
#buddypress .dir-search input[type=search],
#buddypress .dir-search input[type=text],
#buddypress .groups-members-search input[type=search],
#buddypress .groups-members-search input[type=text] {
	border: 1px solid rgba(51, 51, 51, 0.1);
	border-radius: 0;
	color: #888;
	font: inherit;
	font-size: 100%;
	padding:10px 20px 9px;
}
#buddypress .standard-form select {
	padding: 3px 3px 3px 10px;
	min-width: 150px;
}
#buddypress .standard-form input[type=password] {
	margin-bottom: 5px;
}
#buddypress .standard-form label,
#buddypress .standard-form span.label {
	display: block;
	font-weight: bold;
	margin: 15px 0 5px 0;
	width: auto;
}
#buddypress .standard-form div.checkbox label:nth-child(n+2),
#buddypress .standard-form div.radio div label {
	color: #888;
	font-size: 100%;
	font-weight: normal;
	margin: 5px 0 0 0;
}
#buddypress .standard-form#sidebar-login-form label {
	margin-top: 5px;
}
#buddypress .standard-form#sidebar-login-form input[type=text],
#buddypress .standard-form#sidebar-login-form input[type=password] {
	padding: 4px;
	width: 95%;
}
#buddypress .standard-form#signup_form div.submit {
	float: right;
}
#buddypress div#signup-avatar img {
	margin: 0 15px 10px 0;
}
#buddypress .standard-form textarea {
	width: 100%;
	height: 120px;
}
#buddypress .standard-form textarea#message_content {
	height: 200px;
}
#buddypress .standard-form#send-reply textarea {
	width: 97.5%;
}
#buddypress .standard-form p.description {
	color: #888;
	font-size: 80%;
	margin: 5px 0;
}
#buddypress .standard-form div.submit {
	clear: both;
	padding: 15px 0 0 0;
}
#buddypress .standard-form p.submit {
	margin-bottom: 0;
	padding: 15px 0 0 0;
}
#buddypress .standard-form div.submit input {
	margin-right: 15px;
}
#buddypress .standard-form div.radio ul {
	margin: 10px 0 15px 38px;
	list-style: disc;
}
#buddypress .standard-form div.radio ul li {
	margin-bottom: 5px;
}
#buddypress .standard-form a.clear-value {
	display: block;
	margin-top: 5px;
	outline: none;
}
#buddypress .standard-form #basic-details-section,
#buddypress .standard-form #blog-details-section,
#buddypress .standard-form #profile-details-section {
	float: left;
	width: 48%;
}
#buddypress .standard-form #profile-details-section {
	float: right;
}
#buddypress .standard-form #blog-details-section,
#buddypress #notifications-bulk-management {
	clear: left;
}
body.no-js #buddypress #notifications-bulk-management #select-all-notifications,
body.no-js #buddypress label[for="message-type-select"],
body.no-js #buddypress #message-type-select,
body.no-js #buddypress #delete_inbox_messages,
body.no-js #buddypress #delete_sentbox_messages,
body.no-js #buddypress #messages-bulk-management #select-all-messages {
	display: none;
}
#buddypress .standard-form input:focus,
#buddypress .standard-form textarea:focus,
#buddypress .standard-form select:focus {
	background: #fafafa;
	color: #555;
}
#buddypress form#send-invite-form {
	margin-top: 20px;
}
#buddypress div#invite-list {
	background: #f5f5f5;
	height: 400px;
	margin: 0 0 10px;
	overflow: auto;
	padding: 5px;
	width: 160px;
}
#buddypress form.standard-form .left-menu {
	float: left;
}

#buddypress form.standard-form .left-menu #invite-list ul{
	margin:1%;
	list-style: none;
}

#buddypress form.standard-form .left-menu #invite-list ul li {
	margin:0 0 0 1%;
}

#buddypress form.standard-form .main-column {
	margin-left: 190px;
}

#buddypress form.standard-form .main-column ul#friend-list {
	clear:none;
	float: left;
}

#buddypress form.standard-form .main-column ul#friend-list h4 {
	clear:none;
}

/* Overrides for embedded WP editors */
#buddypress .wp-editor-wrap a.button,
#buddypress .wp-editor-wrap button,
#buddypress .wp-editor-wrap input[type=submit],
#buddypress .wp-editor-wrap input[type=button],
#buddypress .wp-editor-wrap input[type=reset] {
	padding: 0 10px 1px;
}

/* Form classes & generic attr styling */
#buddypress form *[disabled="disabled"], #buddypress form *[disabled=""]{
	cursor: default;
	opacity: .4;
 }
.bp-screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute;
}

/*----*****---- << 3.6 - Ajax Loading >> ----*****----*/ 
#buddypress a.loading,
#buddypress input.loading {
	-webkit-animation: loader-pulsate .5s infinite ease-in-out alternate;
	-moz-animation: loader-pulsate .5s infinite ease-in-out alternate;
	border-color: #aaa;
}
@-webkit-keyframes loader-pulsate {
	from {
		border-color: #aaa;
		-webkit-box-shadow: 0 0 6px #ccc;
		box-shadow: 0 0 6px #ccc;
	}
	to {
		border-color: #ccc;
		-webkit-box-shadow: 0 0 6px #f8f8f8;
		box-shadow: 0 0 6px #f8f8f8;
	}
}
@-moz-keyframes loader-pulsate {
	from {
		border-color: #aaa;
		-moz-box-shadow: 0 0 6px #ccc;
		box-shadow: 0 0 6px #ccc;
	}
	to {
		border-color: #ccc;
		-moz-box-shadow: 0 0 6px #f8f8f8;
		box-shadow: 0 0 6px #f8f8f8;
	}
}

#buddypress a.loading:hover,
#buddypress input.loading:hover {
    color: #777;
}
#buddypress input[type="submit"].pending,
#buddypress input[type="button"].pending,
#buddypress input[type="reset"].pending,
#buddypress input[type="submit"].disabled,
#buddypress input[type="button"].disabled,
#buddypress input[type="reset"].disabled,
#buddypress input[type="submit"][disabled=disabled],
#buddypress button.pending,
#buddypress button.disabled,
#buddypress div.pending a,
#buddypress a.disabled {
    border-color: #eee;
    color: #bbb;
    cursor: default;
}
#buddypress input[type="submit"]:hover.pending,
#buddypress input[type="button"]:hover.pending,
#buddypress input[type="reset"]:hover.pending,
#buddypress input[type="submit"]:hover.disabled,
#buddypress input[type="button"]:hover.disabled,
#buddypress input[type="reset"]:hover.disabled,
#buddypress button.pending:hover,
#buddypress button.disabled:hover,
#buddypress div.pending a:hover,
#buddypress a.disabled:hover {
	border-color: #eee;
    color: #bbb;
}

/*----*****---- << 3.7 - Forums, Tables and Topics >> ----*****----*/
#buddypress ul#topic-post-list {
	margin: 0;
	width: auto;
}
#buddypress ul#topic-post-list li {
	padding: 15px;
	position: relative;
}
#buddypress ul#topic-post-list li.alt {
	background: #f5f5f5;
}
#buddypress ul#topic-post-list li div.poster-meta {
	color: #888;
	margin-bottom: 10px;
}
#buddypress ul#topic-post-list li div.post-content {
	margin-left: 54px;
}
#buddypress div.topic-tags {
	font-size: 80%;
}
#buddypress div.admin-links {
	color: #888;
	font-size: 80%;
	position: absolute;
	top: 15px;
	right: 25px;
}
#buddypress div#topic-meta {
	margin: 0;
	padding: 5px 19px 30px;
	position: relative;
}
#buddypress div#topic-meta div.admin-links {
	right: 19px;
	top: -36px;
}
#buddypress div#topic-meta h3 {
	margin: 5px 0;
}
#buddypress div#new-topic-post {
	display: none;
	margin: 20px 0 0 0;
	padding: 1px 0 0 0;
}
#buddypress table.notifications,
#buddypress table.notifications-settings,
#buddypress table.profile-settings,
#buddypress table.profile-fields,
#buddypress table.wp-profile-fields,
#buddypress table.messages-notices,
#buddypress table.forum {
	width: 100%;
}
#buddypress table.notifications thead tr,
#buddypress table.notifications-settings thead tr,
#buddypress table.profile-settings thead tr,
#buddypress table.profile-fields thead tr,
#buddypress table.wp-profile-fields thead tr,
#buddypress table.messages-notices thead tr,
#buddypress table.forum thead tr {
	background: #eaeaea;
}
#buddypress table#message-threads {
	clear: both;
}
#buddypress table.profile-fields {
	margin-bottom: 20px;
}
#buddypress table.profile-fields:last-child {
	margin-bottom: 0;
}
#buddypress table.profile-fields p {
	margin: 0;
}
#buddypress table.profile-fields p:last-child {
	margin-top: 0;
}
#buddypress table.notifications tr td,
#buddypress table.notifications-settings tr td,
#buddypress table.profile-settings tr td,
#buddypress table.profile-fields tr td,
#buddypress table.wp-profile-fields tr td,
#buddypress table.messages-notices tr td,
#buddypress table.forum tr td,
#buddypress table.notifications tr th,
#buddypress table.notifications-settings tr th,
#buddypress table.profile-fields tr th,
#buddypress table.wp-profile-fields tr th,
#buddypress table.messages-notices tr th,
#buddypress table.forum tr th {
	padding: 8px;
	vertical-align: middle;
}
#buddypress table.notifications tr td.label,
#buddypress table.notifications-settings tr td.label,
#buddypress table.profile-fields tr td.label,
#buddypress table.wp-profile-fields tr td.label,
#buddypress table.messages-notices tr td.label,
#buddypress table.forum tr td.label {
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	font-weight: bold;
	width: 25%;
}
#buddypress #message-threads .thread-info {
	min-width: 40%;
}
#buddypress table tr td.thread-info p {
	margin: 0;
}
#buddypress table tr td.thread-info p.thread-excerpt {
	color: #888;
	font-size: 80%;
	margin-top: 3px;
}
#buddypress table.forum td {
	text-align: center;
}
#buddypress table.notifications tr.alt td,
#buddypress table.notifications-settings tr.alt td,
#buddypress table.profile-settings tr.alt td,
#buddypress table.profile-fields tr.alt td,
#buddypress table.wp-profile-fields tr.alt td,
#buddypress table.messages-notices tr.alt td,
#buddypress table.forum tr.alt td {
	background: #f5f5f5;
}
#buddypress table.notification-settings {
	margin-bottom: 20px;
	text-align: left;
}
#buddypress #groups-notification-settings {
	margin-bottom: 0;
}
#buddypress table.notifications th.icon,
#buddypress table.notifications td:first-child,
#buddypress table.notification-settings th.icon,
#buddypress table.notification-settings td:first-child {
	display: none;
}
#buddypress table.notification-settings th.title,
#buddypress table.profile-settings th.title {
	width: 80%;
}
#buddypress table.notification-settings .yes,
#buddypress table.notification-settings .no {
	text-align: center;
	width: 40px;
}
#buddypress table.forum {
	margin: 0;
	width: auto;
	clear: both;
}
#buddypress table.forum tr.sticky td {
	font-size: 110%;
	background: #fff9db;
	border-top: 1px solid #ffe8c4;
	border-bottom: 1px solid #ffe8c4;
}
#buddypress table.forum tr.closed td.td-title {
	padding-left: 35px;
}
#buddypress table.forum td p.topic-text {
	color: #888;
	font-size: 100%;
}
#buddypress table.forum tr > td:first-child,
#buddypress table.forum tr > th:first-child {
	padding-left: 15px;
}
#buddypress table.forum tr > td:last-child,
#buddypress table.forum tr > th:last-child {
	padding-right: 15px;
}
#buddypress table.forum tr th#th-title,
#buddypress table.forum tr th#th-poster,
#buddypress table.forum tr th#th-group,
#buddypress table.forum td.td-poster,
#buddypress table.forum td.td-group,
#buddypress table.forum td.td-title {
	text-align: left;
}
#buddypress table.forum tr td.td-title a.topic-title {
	font-size: 110%;
}
#buddypress table.forum td.td-freshness {
	white-space: nowrap;
}
#buddypress table.forum td.td-freshness span.time-since {
	font-size: 80%;
	color: #888;
}
#buddypress table.forum td img.avatar {
	float: none;
	margin: 0 5px -8px 0;
}
#buddypress table.forum td.td-poster,
#buddypress table.forum td.td-group {
	min-width: 140px;
}
#buddypress table.forum th#th-title {
	width: 80%;
}
#buddypress table.forum th#th-freshness {
	width: 25%;
}
#buddypress table.forum th#th-postcount {
	width: 15%;
}
#buddypress table.forum p.topic-meta {
	font-size: 80%;
	margin: 5px 0 0 0;
}

/*----*****---- << 3.8 - Headers, Lists and Tabs - Activity, Groups, Blogs, Forums, Profiles >> ----*****----*/
#buddypress .item-body {
	margin: 20px 0;
}
#buddypress span.activity {
	display: inline-block;
	padding: 0;
}
#buddypress span.user-nicename {
	color: #777;
	display: inline-block;
	font-size: 120%;
	font-weight: bold;
}
#buddypress div#message p,
#sitewide-notice p {
	font-weight: normal;
	margin-top: 3px;
	text-decoration: none;
	background-color: #ffd;
	border: 1px solid #cb2;
	color: #440;
}
#buddypress div#item-header {
	overflow: hidden;
}
#buddypress div#item-header div#item-header-content {
	float: left;
	margin-left: 0;
}
#buddypress div#item-header h2 {
	line-height: 120%;
	margin: 0 0 15px 0;
}
#buddypress div#item-header h2 a {
	color: #777;
	text-decoration: none;
}
#buddypress div#item-header img.avatar {
	display: inline-block;
    margin: 0;
}
#buddypress div#item-header h2 {
	margin-bottom: 5px;
}
#buddypress div#item-header h2 span.highlight {
	font-size: 60%;
	font-weight: normal;
	line-height: 170%;
	vertical-align: middle;
	display: inline-block;
}
#buddypress div#item-header h2 span.highlight span {
	background: #a1dcfa;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	font-size: 80%;
	margin-bottom: 2px;
	padding: 1px 4px;
	position: relative;
	right: -2px;
	top: -2px;
	vertical-align: middle;
}
#buddypress div#item-header div#item-meta {
	font-size: 90%;
	color: #aaa;
	overflow: hidden;
	margin: 15px 0 5px 0;
	padding-bottom: 10px;
}
#buddypress div#item-header div#item-actions {
	float: right;
	margin: 0 0 15px 15px;
	text-align: right;
	width: 20%;
}
#buddypress div#item-header div#item-actions h3 {
	margin: 0 0 5px 0;
}
#buddypress div#item-header ul {
	margin-bottom: 15px;
	overflow: hidden;
}
#buddypress div#item-header ul h5,
#buddypress div#item-header ul span,
#buddypress div#item-header ul hr {
	display: none;
}
#buddypress div#item-header ul li {
	float: right;
	list-style: none;
}
#buddypress div#item-header ul img.avatar,
#buddypress div#item-header ul.avatars img.avatar {
	height: 30px;
	margin: 2px;
	width: 30px;
}
#buddypress div#item-header div.generic-button, 
#buddypress div#item-header a.button {
    float: left;
    margin: 0 10px 0 0;
    background: rgba(255, 255, 255, 0.7);
    padding: 0 10px;
}
#buddypress div#item-header div#message.info {
	line-height: 80%;
}
#buddypress ul.item-list {
	border-top: 1px solid #eaeaea;
	width: 100%;
	list-style: none;
	clear: both;
	margin: 0;
	padding: 0;
}
body.activity-permalink #buddypress ul.item-list,
body.activity-permalink #buddypress ul.item-list li.activity-item {
	border: none;
}
#buddypress ul.item-list li {
	border: 1px solid rgba(51, 51, 51, 0.1);
	border-top:0;
	padding: 15px;
	margin: 0;
	position: relative;
	list-style: none;
}
#buddypress ul.single-line li {
	border: none;
}
#buddypress ul.item-list li img.avatar {
	border-radius:50%;
	float: left;
	margin: 0 10px 0 0;
}
#buddypress ul.item-list li div.item-title,
#buddypress ul.item-list li h4 {
	font-weight: 600;
	margin: 0 0 5px 0;
}
#buddypress ul.item-list li div.item-title span {
	color: #999;
	font-size: 80%;
}
#buddypress ul.item-list li div.item-desc {
	margin: 10px 0 0 70px;
	width: 90%;
}
#buddypress ul.item-list li.group-no-avatar div.item-desc {
	margin-left: 0;
}
#buddypress ul.item-list li div.meta {
	color: #999999;
	font-size: 100%;
	margin-top: 3px;
}
#buddypress ul.item-list li h5 span.small {
	float: right;
	font-size: 80%;
	font-weight: normal;
}
#buddypress div.item-list-tabs {
	background: transparent;
	clear: left;
	overflow: hidden;
}

#buddypress div.item-list-tabs ul {
	margin: 0;
	padding: 0;
}
#buddypress div.item-list-tabs ul li {
	float: left;
	margin: 0;
	list-style: none;
}
#buddypress div.item-list-tabs#subnav ul li {
	margin-top: 0;
}
#buddypress div.item-list-tabs ul li.last {
	float: right;
	margin: 7px 0 0;
}
#buddypress div.item-list-tabs#subnav ul li.last {
	margin-top: 4px;
}
#buddypress div.item-list-tabs ul li.last select {
	max-width: 190px;
}
#buddypress div.item-list-tabs ul li a,
#buddypress div.item-list-tabs ul li span {
	display: block;
	padding: 5px 10px;
	text-decoration: none;
}
#buddypress div.item-list-tabs ul li a span {
	border:1px solid rgba(0, 0, 0, 0.1);
	color: #333;
	display: inline;
	font-size: 70%;
	margin-left: 2px;
	padding: 3px 6px;
	text-align: center;
	vertical-align: middle;
}
#buddypress div.item-list-tabs ul li.selected a,
#buddypress div.item-list-tabs ul li.current a {
	color: #555;
}
#buddypress div.item-list-tabs ul li.selected a span,
#buddypress div.item-list-tabs ul li.current a span {
	background-color: #fff;
}
#buddypress div#item-nav ul li.loading a {
	background-position: 88% 50%;
}
#buddypress div.item-list-tabs#object-nav {
	margin-top: 0;
}
#buddypress div.item-list-tabs#subnav {
	background: transparent;
	margin: 10px 0 10px;
	overflow: hidden;
}
#buddypress #admins-list li,
#buddypress #mods-list li,
#buddypress #members-list li {
	overflow: auto;
	list-style: none;
}

/*----*****---- << 3.8.1 - Cover Image >> ----*****----*/

#buddypress #cover-image-container {
	position: relative;
	z-index: 0;
}

#buddypress #header-cover-image {
	background-color: #c5c5c5;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	border: 0;
	display: block;
	left: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

#buddypress #item-header-cover-image {
	padding: 0 1em;
	position: relative;
	z-index: 2;
}
#buddypress div#item-header #item-header-cover-image #item-header-content { text-align:left; }

/*----*****---- << 3.9 - Private Messaging Threads >> ----*****----*/
#buddypress table#message-threads tr.read td, #buddypress table#message-threads tr.unread td  { background:#fff; }
#buddypress table#message-threads tr.unread td {
	font-weight: bold;
}
#buddypress table#message-threads tr.unread td .thread-excerpt,
#buddypress table#message-threads tr.unread td .activity,
#buddypress table#message-threads tr.unread td.thread-options {
	font-weight: normal;
}
#buddypress li span.unread-count,
#buddypress tr.unread span.unread-count {
	background: #dd0000;
	color: #fff;
	font-weight: bold;
	padding: 2px 8px;
}
#buddypress div.item-list-tabs ul li a span.unread-count {
	padding: 1px 6px;
	color: #fff;
}
#buddypress div#message-thread div.message-box {
	margin: 0;
	padding: 15px;
}
#buddypress div#message-thread div.alt {
	background: #f4f4f4;
}
#buddypress div#message-thread p#message-recipients {
	margin: 10px 0 20px 0;
}
#buddypress div#message-thread img.avatar {
	float: left;
	margin: 0 10px 0 0;
	vertical-align: middle;
}
#buddypress div#message-thread strong {
	font-size: 100%;
	margin: 0;
}
#buddypress div#message-thread strong a {
	text-decoration: none;
}
#buddypress div#message-thread strong span.activity {
	margin-top: 4px;
}
#buddypress div#message-thread div.message-metadata {
	overflow: hidden;
}
#buddypress div#message-thread div.message-content {
	margin-left: 45px;
}
#buddypress div#message-thread div.message-options {
	text-align: right;
}
#buddypress #message-threads img.avatar {
	max-width: none;
}
#buddypress div.message-search {
	float: right;
}

.message-metadata {
	position: relative;
}
.message-star-actions {
	position: absolute;
	right: 0;
	top: 0;
}
#buddypress a.message-action-star,
#buddypress a.message-action-unstar {
	border-bottom: 0;
	text-decoration: none;
	outline: none;
}
a.message-action-star {
	opacity: .7;
}
a.message-action-star:hover {
	opacity: 1;
}
.message-action-star span.icon:before,
.message-action-unstar span.icon:before {
	font-family: dashicons;
	font-size: 18px;
}
.message-action-star span.icon:before {
	content: "\f154";
}
.message-action-unstar span.icon:before {
	color: #ffd754;
	content: "\f155";
}

/*----*****---- << 3.10 - Extended Profiles >> ----*****----*/

#buddypress div.profile h4 {
	margin-bottom: auto;
	margin-top: 15px;
}
#buddypress #profile-edit-form ul.button-nav {
	margin-top: 15px;
}
body.no-js #buddypress .field-visibility-settings-toggle,
body.no-js #buddypress .field-visibility-settings-close {
	display: none;
}
#buddypress .field-visibility-settings {
	display: none;
	margin-top: 10px;
}
	body.no-js #buddypress .field-visibility-settings {
		display: block;
	}
#buddypress .current-visibility-level {
	font-weight: bold;
	font-style: normal;
}
#buddypress .field-visibility-settings,
#buddypress .field-visibility-settings-toggle,
#buddypress .field-visibility-settings-notoggle {
	color: #888;
}
#buddypress .field-visibility-settings-toggle a,
#buddypress .field-visibility-settings a {
	font-size: 80%;
}
body.register #buddypress div.page ul {
	list-style: none;
}
#buddypress .standard-form .field-visibility-settings label {
	margin: 0;
	font-weight: normal;
}
#buddypress .field-visibility-settings legend,
#buddypress .field-visibility-settings-toggle {
	font-style: italic;
	display: block;
}
#buddypress .field-visibility-settings .radio {
	list-style: none;
	margin-bottom: 0;
}
#buddypress .field-visibility select {
	margin: 0;
}
#buddypress .editfield button.visibility-toggle-link {
    float: initial;
    display: block;
}

#buddypress .editfield.field_16.field_multiselectbox.required-field.visibility-friends.field_type_multiselectbox .selection-box:after, #buddypress .editfield.field_16.field_multiselectbox.required-field.visibility-friends.field_type_multiselectbox .selection-box:before { display: none; }

/*--------------------------------------------------------------
4.0 - Buddypress Default Media Queries
--------------------------------------------------------------*/
/*----*****---- << 4.1 - Smartphones - landscape >> ----*****----*/
@media only screen and (max-width: 480px ){
	#buddypress div.dir-search {
		float: right;
		margin-top: -50px;
		text-align: right;
	}
	#buddypress div.dir-search input[type="text"] {
		width: 50%;
	}
	a.bp-title-button {
		margin-left: 10px;
	}
	#buddypress form.standard-form .main-column div.action{
		position: relative;
		margin-bottom:1em;
	}
	#buddypress form.standard-form .main-column ul#friend-list h4{
		width:100%;
	}
}

/*----*****---- << 4.2 - Smartphones - portrait >> ----*****----*/
@media only screen and (max-width: 320px) {
	#buddypress div.dir-search {
		clear: left;
		float: left;
		margin-top: 0;
		text-align: left;
	}
	#buddypress li#groups-order-select {
		clear: left;
		float: left;
	}
	#buddypress ul.item-list li div.action {
		clear: left;
		float: left;
		margin-top: 0;
		position: relative;
		top: 0;
		right: 0;
		text-align: left;
	}
	#buddypress ul.item-list li div.item-desc {
		clear: left;
		float: left;
		margin: 10px 0 0;
		width: auto;
	}
	#buddypress li div.item {
		width: auto;
	}
	#buddypress ul.item-list li div.meta {
		margin-top: 0;
	}
	#buddypress .item-desc p {
		margin: 0 0 10px;
	}
	#buddypress div.pagination .pag-count {
		margin-left: 0;
	}
}

/*----*****---- << 4.2 - Smartphones - smaller screen sizes >> ----*****----*/

@media only screen and (max-width: 240px) {
	#buddypress div.dir-search {
		float: left;
		margin: 0;
	}
	#buddypress div.dir-search input[type="text"] {
		width: 50%;
	}
	#buddypress li#groups-order-select {
		float: left;
	}
	#buddypress ul.item-list li img.avatar {
		width: 30px;
		height: auto;
	}
	#buddypress ul.item-list li div.action,
	#buddypress li div.item{
		margin-left: 45px;
	}
	h1 a.bp-title-button {
		clear: left;
		float: left;
		margin: 10px 0 20px;
	}
}


	/*--------------------------------------------------------------
	5.0 - New Styles
	--------------------------------------------------------------*/
	.buddypress #primary { padding-bottom:80px; }
	
	#buddypress div#subnav.item-list-tabs { background:transparent; margin-top:30px; }
	#buddypress div#subnav.item-list-tabs > ul { border:0; }
	#buddypress div#subnav.item-list-tabs ul li.last { min-width:190px; }
	
	#buddypress div.item-list-tabs { border:1px solid rgba(51, 51, 51, 0.1); border-top:0; float:left; overflow: hidden; padding: 0; width: 100%; box-sizing:border-box; }
	#buddypress div.item-list-tabs > ul, #buddypress #item-body div#subnav.item-list-tabs > ul { float:left; display:inline-block; width:100%; }
	#buddypress .dt-sc-member-container div#object-nav.item-list-tabs > ul, #buddypress .dt-sc-group-container div#object-nav.item-list-tabs > ul, .group-home .bp_group #buddypress #item-body div#subnav.item-list-tabs > ul, .group-members .bp_group #buddypress #item-body div#subnav.item-list-tabs > ul { border-bottom:0; }
	#buddypress div.item-list-tabs ul li a, .my-groups .bp_members.type-bp_members #buddypress #item-body div#subnav.item-list-tabs > ul { border:1px solid transparent; margin:0 -1px -1px 0; line-height:40px; padding:4px 15px 0; border-radius: 3px 3px 0 0; min-height:44px; box-sizing:border-box; }
	.logged-in.my-groups .bp_members.type-bp_members #buddypress #item-body div#subnav.item-list-tabs > ul { border-bottom:1px solid rgba(51, 51, 51, 0.1); margin-bottom:0; }
	
	#buddypress .dt-sc-group-container div.item-list-tabs#object-nav ul li:last-child a, #buddypress .dt-sc-member-container div.item-list-tabs#object-nav ul li:last-child a { border-bottom:0; }
	#buddypress div.item-list-tabs ul li { padding-bottom:0; }
	#buddypress div.item-list-tabs ul li a, #buddypress div.item-list-tabs ul li span { color:#333; display: block; font-size: 13px; font-weight: 600; text-decoration: none; text-transform: uppercase; }
	#buddypress div.item-list-tabs ul li.selected a { opacity:1; }
	#buddypress div#subnav.item-list-tabs ul li.feed a { border: 1px solid rgba(0, 0, 0, 0.1); border-radius: 3px; line-height: 30px; min-height: inherit; padding: 0 15px; }
	
	#buddypress .activity .activity-content .activity-header > p > a:first-child { font-size:17px; margin-right:5px; }
	#buddypress div.activity-meta a { background: #f5f5f5; color: #333; display: inline-block; padding: 2px 13px; }
	#buddypress div#object-nav.item-list-tabs > ul { border-top: 1px solid rgba(0, 0, 0, 0.1); }
	
	#buddypress .activity-list .activity-avatar { float:left; }
	
	#buddypress ul.item-list li img.avatar { float: left; height: auto; margin: 0 20px 0 0; max-width: 75px; box-sizing: border-box; }
	#buddypress ul.item-list li .activity-comments img.avatar { margin-right:15px; }
	.members.dir-list ul, #buddypress ul.item-list, #buddypress #activity-stream { display: inline-block; width: 100%; margin-top:20px; }
	#subnav ul li select { margin-bottom:0; }
	#buddypress div.pagination .pagination-links span, #buddypress div.pagination .pagination-links a { color: #fff; float: left; font-size: 14px; font-weight: 600; margin: 0 10px 0 0; padding: 6px 15px 5px; position: relative; z-index: 1; }
	#buddypress div.pagination .pagination-links a.next { margin-right:0; }
	#activation-form p.submit { margin-top:30px; }
	.bp_activity #buddypress > form#whats-new-form { margin-bottom: 30px; }
	#buddypress form#whats-new-form #whats-new-content { clear:both; }
	#buddypress form#whats-new-form #whats-new-avatar { margin:0 20px 10px 0; float:left; }
	#buddypress form#whats-new-form p.activity-greeting { margin-top:25px; display:inline-block; margin-bottom:15px; }
	#buddypress form#whats-new-form #whats-new-textarea { margin-bottom: 20px; }
	#whats-new-avatar > a > img { border-radius:50%; }
	
	#buddypress .activity-list li.load-more, #buddypress .activity-list li.load-newest { border:0; margin: 30px 0 0; padding:0; font-size:17px; text-align:center; }
	#buddypress .activity-list li.load-more a, #buddypress .activity-list li.load-newest a { color: #fff; border:1px solid rgba(51, 51, 51, 0.1); padding: 10px 55px; text-align:center; display:inline-block; }
	
	/*----*****---- << 5.1 - Members >> ----*****----*/
	#buddypress .dt-sc-member-container > #item-header > #item-header-content h2 { display:inline-block; width:100%; word-break:break-all; word-wrap:break-word; }
	#buddypress #members-dir-list ul li { float: left; margin-right: 3%; border-radius:3px; margin-top: 10px; width: 31.3%; border-top:1px solid rgba(51, 51, 51, 0.1); -webkit-transition:all 0.3s; -moz-transition:all 0.3s; transition:all 0.3s; -o-transition:all 0.3s; -ms-transition:all 0.3s; margin-bottom:30px; box-sizing:border-box; }
	#buddypress #members-dir-list ul li:nth-child(3n+3) { margin-right: 0; }
	#buddypress #members-dir-list ul li:nth-child(3n+1) { clear:left; }
	
	.bp_activity #buddypress div.item-list-tabs.activity-type-tabs, .bp_activity #buddypress div#subnav.item-list-tabs, #buddypress #members-directory-form div.item-list-tabs, #buddypress #groups-directory-form div.item-list-tabs, #buddypress #create-group-form div.item-list-tabs, .bp_group #buddypress div#subnav.item-list-tabs { border:0; }
	#buddypress ul.item-list#members-list { border-top:0; }
	
	#buddypress #members-dir-list .item span.activity { color:#999999; }
	#buddypress .members.friends ul.item-list li { border-top:1px solid rgba(0, 0, 0, 0.1); border-bottom:0; }
	#buddypress .members.friends ul.item-list li:last-child { border-bottom:1px solid rgba(0, 0, 0, 0.1); }
	#buddypress .dt-sc-member-container #item-header-content #item-buttons > div { text-align:center; width:100%; }
	#buddypress #members-directory-form div#subnav.item-list-tabs { border-bottom: 0 none; border-left: 0 none; }
	
	#search-members-form #members_search_submit, #search-groups-form #groups_search_submit, #activation-form p.submit input[type="submit"] { float:right; }
	.bp_members.type-bp_members #buddypress div#subnav.item-list-tabs { border:0; }
	#buddypress div#item-header[role] { margin-bottom:30px; padding: 0; text-align: center; background:#f9f9f9; }
	#buddypress div#item-header { margin-bottom:20px; }
	#buddypress .dt-sc-member-container, #buddypress .dt-sc-group-container { float: left; margin-right: 30px; width: 19%; }
	#buddypress .dt-sc-member-container div.item-list-tabs ul li, #buddypress .dt-sc-group-container div.item-list-tabs ul li { width:100%; }
	#buddypress > div#item-body { float: left; width: 78%; }
	#buddypress div.profile h4 { display:inline-block; width:100%; margin-bottom:10px; }
	
	
	#buddypress div.item-list-tabs > ul > li > label { float: left; line-height:50px; margin: 0 10px 0 0; }
	.buddypress .selection-box { display:inline-block; }
	#buddypress div.item-list-tabs ul li.last select { min-width:171px; }
	
	#bbpress-forums .bbp-user-topics-started h2.entry-title, #bbpress-forums .bbp-user-replies-created h2.entry-title, #bbpress-forums .bbp-user-favorites h2.entry-title { margin-top:30px; }
	
	#buddypress div.message-search { width:100%; margin-top:20px; }
	#buddypress div.message-search #messages_search { display:inline-block; width:50%; }
	#buddypress div.message-search #messages_search_submit { display: inline-block; float: none; margin-left: -4px; margin-top: 0; padding: 18px 20px; }
	#notification-bulk-manage, #messages-bulk-manage { float:right; }
	#buddypress table#message-threads tr td { text-align:left; }
	
	.bp_members.type-bp_members #buddypress div.item-list-tabs { position:relative; }
	.bp_members.type-bp_members #buddypress div.item-list-tabs > ul > li > label { float:none; display:inline-block; }
	.bp_members.type-bp_members #buddypress div#subnav.item-list-tabs > ul, .my-groups .bp_members.type-bp_members #buddypress #item-body div#subnav.item-list-tabs > ul { margin-top:53px; }
	.bp_members.type-bp_members #buddypress div#subnav.item-list-tabs ul li.last { position:absolute; top:0; right:0; margin-top:0; float:left; width:100%; text-align:right; }
	
	/*----*****---- << 5.2 - Groups >> ----*****----*/
	#buddypress #groups-list .item { width:17.5%; float:left; margin-right:20px; }
	#buddypress .groups.mygroups #groups-list .item { width:20%; }
	.bp_members #buddypress div#subnav.item-list-tabs { margin-top:0; }
	#buddypress #groups-list .item .item-title > a, #buddypress #members-dir-list .item .item-title > a { font-size: 17px; }
	#search-groups-form, #search-members-form { display:inline-block; width:100%; margin-bottom:50px; }
	#search-groups-form input[type="text"], #buddypress #search-members-form input[type="text"] { margin-bottom:0; }
	#buddypress .dt-sc-group-container #item-header-content h3 { text-align:right; margin-bottom:10px; }
	#buddypress .dt-sc-group-container #item-header-content ul#group-admins li a img { border-radius:50%; }
	.bp_group #buddypress #item-body #subnav { margin-top:0; }
	
	#group-settings-form .bp-avatar-nav .avatar-nav-items li { padding-bottom:0; }
	
	#buddypress #groups-list .item-meta span.activity { border-bottom: 1px solid rgba(51, 51, 51, 0.1); color: #999999; display: inline-block; font-weight: normal; line-height: 1; margin-top: 3px; padding-bottom:10px; text-decoration: none; width:95%; }
	#buddypress .dt-sc-group-container div#item-header div#item-actions { width:100%; margin:0; }
	#buddypress div.pagination .pagination-links span, #buddypress div.pagination .pagination-links a { border:1px solid rgba(0, 0, 0, 0.1); color:#000; }
	#buddypress #pag-bottom.pagination { margin-top:15px; }
	#buddypress .standard-form div.submit input#group-creation-next, #buddypress .standard-form div.submit input#group-creation-finish { float:right; margin-right:0; }
	.drag-drop #drag-drop-area { box-sizing:border-box; }
	.group_members.dir-list #member-list > li > h5 { font-weight:500; margin-bottom:10px; }
	#send-invite-form .invite .pagination { clear:none; }
	#group-settings-form .screen-reader-text { padding:0 6px; }
	
	#item-header-content #item-meta > #item-buttons { display:inline-block; text-align:center; }
	#item-header-content #item-meta > #item-buttons .group-button { padding:0; margin-right:0; }
	#item-header-content #item-meta > #item-buttons .group-button a { padding:5px 17px; display:inline-block; }
	
	#groups-order-select .selection-box { margin-bottom:8px; }
	
	#buddypress #search-groups-form, #buddypress #search-members-form { text-align:center; }
	#buddypress #search-groups-form input[type="text"], #buddypress #search-members-form input[type="text"] { width:50%; float:none; display:inline-block; font-size:16px; padding:15px 20px; line-height:27px; }
	#buddypress #search-groups-form input[type="submit"], #buddypress #search-members-form input[type="submit"] { float:none; display:inline-block; margin-top:0; font-size:16px; border-radius:0; margin-left: -5px; padding: 20px 30px 20px; font-weight:600; min-height:59px; }
	 
	#buddypress #item-body form#whats-new-form { margin-top:20px; display:inline-block; width:100%; }
	#buddypress #subnav .groups-members-search { width:100%; }
	#buddypress #group-settings-form { display:inline-block; width:100%; margin-top:20px; }
	#buddypress #create-group-form #group-create-body { display:inline-block; width:100%; }
	#buddypress #notifications-bulk-management table.notifications th label { color:#fff; }
	
	#buddypress #activation-form.standard-form p.submit { padding-top:0; }
	#buddypress #activation-form.standard-form p.submit input[type="submit"] { margin-top:0; }
	
	
	#members-list.item-list.single-line li h5 span.small a.button { margin:0 3px; }
	
	.profile-fields { border:1px solid rgba(0, 0, 0, 0.1); border-bottom:0; }
	
	#buddypress div.item-list-tabs#group-create-tabs ul li span { padding:0 10px; line-height:40px; }
	#buddypress .dt-sc-member-container div.item-list-tabs ul li a, #buddypress .dt-sc-group-container div.item-list-tabs ul li a { border-left:transparent; border-top:transparent; }
	
	#buddypress a.bp-primary-action:hover span { background:#fff; }
	 
	.drag-drop-buttons .button {  color: #fff; float: none;  text-transform: uppercase; width: auto !important; background: rgba(0, 0, 0, .3); }
	 #buddypress form#whats-new-form textarea { resize:none; padding:14px 12px; }
	 #item-header-content #item-meta > #item-buttons .group-button a { background-color:transparent; }
	 #buddypress div.activity-comments form div.ac-reply-content a { display:inline-block; margin-top:11px; }
	 table#message-threads th .message-action-star .icon { display:none; }
	 #buddypress table#message-threads tr td.thread-star { text-align:center; }
	 #create-group-form li.avatar-nav-item { padding-bottom:0; }
	.bp-avatar-nav .avatar-nav-items li.avatar-nav-item { padding-bottom:0; }
	.bp-avatar-nav li.current a { font-weight:normal; }
	
	.field_type_datebox .datebox .selection-box { width:100%; }

	#buddypress #item-buttons:empty { display:none; }
	
	#buddypress div#item-header #cover-image-container h2 { text-align:left; margin-bottom:5px !important; }
	#buddypress div#item-header #cover-image-container span.activity { padding:0 10px; background: rgba(255, 255, 255, 0.9); color: #000; }
	#buddypress div#item-header[role] #cover-image-container div#item-meta { text-align:left; }
	.single-item.groups #buddypress div#item-header #cover-image-container #item-header-avatar { width:21%; }
	
	
	/*--------------------------------------------------------------
	6.0 - Transition
	--------------------------------------------------------------*/
	
	#buddypress div.pagination .pagination-links span, #buddypress div.pagination .pagination-links a, button, #buddypress div.item-list-tabs ul li a span, #buddypress .activity-list li.load-more, #buddypress .activity-list li.load-newest, #buddypress a.bp-primary-action span, #item-header-content #item-meta > #item-buttons .group-button a { -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 0.3s linear; -ms-transition:all 0.3s linear; transition:all 0.3s linear; }
	 
	 
	 
	/*--------------------------------------------------------------
	7.0 - Border radius Business
	--------------------------------------------------------------*/	
	
	#signup_form #signup_submit, #whats-new-submit #aw-whats-new-submit, #profile-group-edit-submit, #buddypress div.message-search #messages_search_submit, #settings-form .submit #submit, #submit, #save, #group-settings-form input[type="submit"], #notification-bulk-manage, #messages-bulk-manage, #buddypress .activity-list li.load-more a, #buddypress .activity-list li.load-newest a { border-radius:0; }



	/*--------------------------------------------------------------
	8.0 - Default Color
	--------------------------------------------------------------*/
		
	/*----*****---- << border color >> ----*****----*/
	#buddypress div.item-list-tabs ul li.selected a, #buddypress div.item-list-tabs#group-create-tabs ul li.current a, #buddypress #item-body div.item-list-tabs#subnav ul li.current a { border-color:rgba(0, 0, 0, 0.1); border-bottom-color:#fff; }
	#buddypress .dt-sc-group-container div.item-list-tabs ul li a, #buddypress .dt-sc-member-container div.item-list-tabs ul li a { border-color:rgba(0, 0, 0, 0.1); }
	
	/*----*****---- << Color >> ----*****----*/
	#buddypress div.pagination .pagination-links span, #buddypress div.pagination .pagination-links a:hover, #buddypress #group-create-body #group-creation-previous, #item-header-content #item-meta > #item-buttons .group-button, #buddypress div#subnav.item-list-tabs ul li.feed a:hover, #buddypress div.activity-meta a:hover, #buddypress div.item-list-tabs ul li.selected a span { color:#fff; }


	/*--------------------------------------------------------------
	9.0 - Browser Fix
	--------------------------------------------------------------*/
	
	/*----*****---- << IE9 and above >> ----*****----*/ 
	 @media screen and (min-width:0\0) { 
		#buddypress #search-groups-form input[type="text"], #buddypress #search-members-form input[type="text"] { padding:17px 20px; line-height:24px; }
	}
		
	
	/*--------------------------------------------------------------
	10.0 - DT Responsive
	--------------------------------------------------------------*/
	/* Note: Design for a width of 960px */	
    @media only screen and (min-width:992px) and (max-width:1199px) {
	
		/*----*****---- << buddypress >> ----*****----*/
		#buddypress > div#item-body { float: left; width: 77.6%; }
		#buddypress #members-dir-list ul li { margin-right:2%; width:32%; }
		#buddypress ul.item-list li img.avatar { max-width:65px; margin-right:10px; }
		
	}
	
	/* Note: Design for a width of 768px */

    @media only screen and (min-width:768px) and (max-width:991px) {
 		
		/*----*****---- << buddypress >> ----*****----*/
		#buddypress > div#item-body { float: left; width: 76.7%; }
		
		#buddypress #bbpress-forums li .bbp-topic-freshness { display:none; }
		#buddypress #bbpress-forums li.bbp-topic-voice-count, #buddypress #bbpress-forums li.bbp-topic-reply-count { width:20%; }
		
		#buddypress div.item-list-tabs ul li a, #buddypress div.item-list-tabs ul li span { font-size:12px; text-transform:capitalize; }
		
		#buddypress #members-dir-list ul li { width:32%; margin-right:2%; }
		#buddypress ul.item-list li img.avatar { max-width:55px; }
		#buddypress #members-dir-list ul#members-list li .item { display:inline-block; width:61%; }
		
		.bp_members.type-bp_members #buddypress div#subnav.item-list-tabs > ul, .my-groups .bp_members.type-bp_members #buddypress #item-body div#subnav.item-list-tabs > ul { margin-top:60px; }
		
		body.single-item.groups #buddypress div#item-header #item-header-cover-image #item-header-content, body.single-item.groups #buddypress div#item-header #item-header-cover-image #item-actions { padding-left:20px; }
	
	}
	
	
	/*----*****---- << Mobile (Landscape) >> ----*****----*/	
	
	/* Common Styles for the devices below 767px width */
	@media only screen and (max-width: 767px) {
 	
		/*----*****---- << buddypress >> ----*****----*/
		#buddypress #members-dir-list ul li { width:100%; margin-right:0; margin-top:0; }
		#buddypress div#item-header div#item-actions { width:100%; }
		
	}
	
	/*----*****---- << Mobile (Landscape) >> ----*****----*/
    /* Note: Design for a width of 480px */
    @media only screen and (min-width: 480px) and (max-width: 767px) {
		
		/*----*****---- << buddypress >> ----*****----*/
		#buddypress div.activity-meta a { margin-top:5px; }
		
		#buddypress .dt-sc-member-container, #buddypress .dt-sc-group-container { margin: 0 0 30px; text-align: center; width: 100%; }
		#buddypress > div#item-body, #buddypress div#item-header div#item-header-content { width:100%; }
		.members.dir-list ul, #buddypress ul.item-list, #buddypress #activity-stream { margin-top:20px; display:inline-block; width:100%; }
		.bp_members.type-bp_members #buddypress div#subnav.item-list-tabs > ul, .my-groups .bp_members.type-bp_members #buddypress #item-body div#subnav.item-list-tabs > ul { margin-top:93px; }
		.messages .bp_members.type-bp_members #buddypress div#subnav.item-list-tabs > ul { margin-top:50px; }
		.logged-in.my-groups .bp_members.type-bp_members #buddypress #item-body div#subnav.item-list-tabs > ul { border-bottom:0; }
		
		#buddypress ul.item-list li div.item-desc { display:inline-block; margin-left:93px; width:77%; }
		#buddypress .groups.mygroups #groups-list .item, #buddypress #groups-list .item { margin-right: 0; width: 70%; }
		
		#buddypress div.item-list-tabs > ul, #buddypress #item-body div#subnav.item-list-tabs > ul { border-bottom:0; }
		#buddypress div.item-list-tabs ul li { border-bottom: 1px solid rgba(0, 0, 0, 0.1); text-align:center; width:100%; }
		#buddypress div.item-list-tabs ul li a, .my-groups .bp_members.type-bp_members #buddypress #item-body div#subnav.item-list-tabs > ul { margin-right:0; margin-bottom:0; }
		
		#buddypress div#subnav.item-list-tabs ul li.last { margin-top:20px; padding-bottom:20px; }
		#buddypress div.pagination .pagination-links { width:100%; text-align:center; margin-top:15px; }
	   #buddypress div.pagination .pagination-links span, #buddypress div.pagination .pagination-links a { float:none; display:inline-block; }
	   
	}
	
	/* Common Styles for the devices below 479px width */
    @media only screen and (max-width: 479px) {
		
		/*----*****---- << buddypress >> ----*****----*/
		#buddypress .dt-sc-member-container, #buddypress .dt-sc-group-container { margin: 0 0 30px; text-align: center; width: 100%; }
		#buddypress > div#item-body, #buddypress div#item-header div#item-header-content { width:100%; }
		.members.dir-list ul, #buddypress ul.item-list, #buddypress #activity-stream { margin-top:20px; display:inline-block; width:100%; }
		.bp_members.type-bp_members #buddypress div#subnav.item-list-tabs > ul, .my-groups .bp_members.type-bp_members #buddypress #item-body div#subnav.item-list-tabs > ul { margin-top:93px; }
		
		#buddypress div.pagination .pagination-links { width:100%; text-align:center; margin-top:15px; }
		#buddypress div.pagination .pagination-links span, #buddypress div.pagination .pagination-links a { float:none; display:inline-block; }
		#buddypress div#invite-list { width:100%;  }
		
	}
	
	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (min-width: 320px) and (max-width: 479px) {
		
		/*----*****---- << buddypress >> ----*****----*/
		#buddypress ul.item-list li div.item-desc { display:inline-block; margin-left:62px; width:80%; }
		#buddypress ul.item-list li img.avatar { max-width:45px; margin-right:15px; }
		#buddypress .groups.mygroups #groups-list .item, #buddypress #groups-list .item { width:73%; margin-right:0; }
		
		#buddypress .activity-list li .activity-content { margin-left:55px; }		
		#buddypress div.activity-meta a { margin-top:5px; }
		#buddypress form#whats-new-form #whats-new-options { height:125px !important; }
		
		#message-threads .thread-from > img, #message-threads .thread-from > span { display:none; }
		#message-threads th { text-transform:capitalize; }
		#buddypress #message-threads th, #buddypress #message-threads td { padding:8px 6px; }
		#message-threads .thread-star { display:none; }
		
		#buddypress #previous-next { float: left; width:100%; text-align:center; }
		#buddypress #previous-next input[type="submit"]#group-creation-next, #buddypress #previous-next input[type="button"]#group-creation-previous { float:none; margin-left:0; margin-right:0; }
		#buddypress form.standard-form .left-menu { width:100%; text-align:center; }
		#buddypress form.standard-form .main-column { margin-left:0; display:inline-block; }
		
		#buddypress div.item-list-tabs > ul, #buddypress #item-body div#subnav.item-list-tabs > ul { border-bottom:0; }
		#buddypress div.item-list-tabs ul li { border-bottom: 1px solid rgba(0, 0, 0, 0.1); text-align:center; width:100%; }
		#buddypress div.item-list-tabs ul li a, .my-groups .bp_members.type-bp_members #buddypress #item-body div#subnav.item-list-tabs > ul { margin-right:0; margin-bottom:0; }
		
		#buddypress div#subnav.item-list-tabs ul li.last { margin-top:20px; padding-bottom:20px; }
		
	}
	
	
	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 319px) {
 		/*----*****---- << buddypress >> ----*****----*/
		#buddypress ul.item-list li div.item-desc { display:inline-block; margin-left:62px; width:72%; }
		#buddypress ul.item-list li img.avatar { max-width:45px; margin-right:15px; }
		#buddypress .groups.mygroups #groups-list .item, #buddypress #groups-list .item { width:64%; margin-right:0; }
		#buddypress #search-groups-form input[type="submit"], #buddypress #search-members-form input[type="submit"] { margin-left:0; }
		
		#buddypress .activity-list li .activity-content { margin-left:55px; }		
		#buddypress div.activity-meta a { margin-top:5px; }
		#buddypress form#whats-new-form #whats-new-options { height:125px !important; }
		
		#message-threads .thread-from > img, #message-threads .thread-from > span { display:none; }
		#message-threads th { text-transform:capitalize; }
		#buddypress #message-threads th, #buddypress #message-threads td { padding:8px 6px; }
		#message-threads .thread-star { display:none; }
		.messages-notices .thread-options { display:none; }
		
		#buddypress #search-groups-form input[type="text"], #buddypress #search-members-form input[type="text"] { width:100%; margin-bottom:10px; }
		#buddypress div.pagination .pagination-links span, #buddypress div.pagination .pagination-links a { margin-bottom:10px; }
		
		#buddypress #groups-list .item .item-title > a, #buddypress #members-dir-list .item .item-title > a { font-size:15px; }
		#groups-notification-settings th, #groups-notification-settings td { padding:13px 10px; }
		#settings-form .profile-settings .selection-box { min-width:130px; }
		.profile-settings th { padding:8px 6px; }
		#send_message_form ul li { margin-right:0; width:100%; }
		#send_message_form ul li input#send-to-input { width:100%; }
		.logged-in.my-groups .bp_members.type-bp_members #buddypress #item-body div#subnav.item-list-tabs > ul { border-bottom:0; }
		.profile-settings td { word-break:break-all; }
		
		#buddypress #previous-next { float: left; width:100%; text-align:center; }
		#buddypress #previous-next input[type="submit"]#group-creation-next, #buddypress #previous-next input[type="button"]#group-creation-previous { float:none; margin-left:0; margin-right:0; }
		#buddypress form.standard-form .left-menu { width:100%; text-align:center; }
		#buddypress form.standard-form .main-column { margin-left:0; display:inline-block; }
		
		#buddypress div.item-list-tabs > ul, #buddypress #item-body div#subnav.item-list-tabs > ul { border-bottom:0; }
		#buddypress div.item-list-tabs ul li { border-bottom: 1px solid rgba(0, 0, 0, 0.1); text-align:center; width:100%; }
		#buddypress div.item-list-tabs ul li a, .my-groups .bp_members.type-bp_members #buddypress #item-body div#subnav.item-list-tabs > ul { margin-right:0; margin-bottom:0; }
		
		#buddypress div#subnav.item-list-tabs ul li.last { margin-top:20px; padding-bottom:20px; }
		
		#buddypress form#whats-new-form #whats-new-options select { margin-left:0; }
		#buddypress form#whats-new-form #whats-new-avatar { width:100%; text-align:center; margin-bottom:0; }
		.bp_members.type-bp_members #buddypress div#subnav.item-list-tabs > ul, .my-groups .bp_members.type-bp_members #buddypress #item-body div#subnav.item-list-tabs > ul { margin-top:133px; }
		#buddypress table.notifications tr td, #buddypress table.notifications-settings tr td, #buddypress table.profile-settings tr td, #buddypress table.profile-fields tr td, #buddypress table.wp-profile-fields tr td,
#buddypress table.messages-notices tr td, #buddypress table.forum tr td, #buddypress table.notifications tr th, #buddypress table.notifications-settings tr th, #buddypress table.profile-fields tr th, #buddypress table.wp-profile-fields tr th, #buddypress table.messages-notices tr th, #buddypress table.forum tr th { padding:8px 6px; font-size:12px; }

		table.notifications .date, table.notifications .notification-since { display:none; }	
		
		#buddypress #header-cover-image { height:195px; }	
	}
