/* Table of Content
==================================================
	1.0  -  Custom Class
	2.0  -  Browser Fix
	3.0  -  DT Responsive*/

	/*--------------------------------------------------------------
	1.0 - Custom Class
	--------------------------------------------------------------*/
	
	a.video-image span, a.video-image span:after { -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 0.3s linear; -ms-transition:all 0.3s linear; transition:all 0.3s linear; }
	
	.title_uppercase { text-transform:uppercase; }
	.title_bold { font-weight:bold; }
	.custom-letter-spacing { letter-spacing: 2px; }
	
	/* http://prntscr.com/dydrzx = Reseller Hosting page */
	 .extend-bg-fullwidth-left.vc_col-has-fill > .vc_column-inner, .extend-bg-fullwidth-right.vc_col-has-fill > .vc_column-inner { position: relative; } 
	.extend-bg-fullwidth-left:not(.vc_col-has-fill):after, .extend-bg-fullwidth-right:not(.vc_col-has-fill):after,
	.extend-bg-fullwidth-left.vc_col-has-fill > .vc_column-inner:after, .extend-bg-fullwidth-right.vc_col-has-fill > .vc_column-inner:after { content:""; display:inline !important; height:100%; position:absolute; top: 0; width: 9999px; z-index: -1; }
	.extend-bg-fullwidth-left:not(.vc_col-has-fill):after, .extend-bg-fullwidth-left.vc_col-has-fill > .vc_column-inner:after { z-index: 0; right:100%; }
	.extend-bg-fullwidth-right:not(.vc_col-has-fill):after, .extend-bg-fullwidth-right.vc_col-has-fill > .vc_column-inner:after { z-index: 0; left:100%; }

	.extend-bg-fullwidth-left:after, .extend-bg-fullwidth-right:after,
	.extend-bg-fullwidth-left.vc_col-has-fill > .vc_column-inner:after, .extend-bg-fullwidth-right.vc_col-has-fill > .vc_column-inner:after { background-color: inherit; }

		
	.dt-sc-special-testimonial-container .extend-bg-fullwidth-left:after, .dt-sc-special-testimonial-container .extend-bg-fullwidth-right:after { background: none; }

	.vc_row.extend-bg-fill-slanting .extend-bg-fullwidth-left:not(.vc_col-has-fill):after, 
	.vc_row.extend-bg-fill-slanting .extend-bg-fullwidth-left.vc_col-has-fill > .vc_column-inner:after { right: 0; transform: skewX(-30deg) translateX(18px); z-index: 0; box-shadow: 8px 0 0 0 #fff; }

	.vc_row.extend-bg-fill-slanting .extend-bg-fullwidth-left:not(.dt-col-static-position) > .vc_column-inner { position: relative; z-index: 1 !important; }	

	.vc_row.extend-bg-fill-slanting .extend-bg-fullwidth-left.vc_col-has-fill > .vc_column-inner:before { left: 0; transform: skewX(-30deg) translateX(-32px); }

	.vc_row.extend-bg-fill-slanting .extend-bg-fullwidth-left[class*="dt-skin-"],
	.vc_row.extend-bg-fill-slanting .extend-bg-fullwidth-right[class*="dt-skin-"] { background-color: transparent; }

	.custom-video-player { text-align: center; }
	.custom-video-player a.video-image { position: absolute; left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%); -webkit-transform: translateX(-50%) translateY(-50%); -ms-transform: translateX(-50%) translateY(-50%); -moz-transform: translateX(-50%) translateY(-50%); z-index: 9; }
	.custom-video-player a.video-image span:after { background: rgba(0, 0, 0, 0); }
	a.video-image span { font-size: 20px; position: relative; height: 64px; width: 64px; line-height: 64px; color: #fff; text-align: center; }
	a.video-image span:hover { color: #050505; }

	a.video-image span:after { position: absolute; display: block; content: ""; height: 64px; width: 64px; line-height: 64px; border-radius: 50%; background: #2b2b2b; color: #fff; -webkit-box-shadow: 0 0 0 2px #ffffff inset; -moz-box-shadow: 0 0 0 2px #ffffff inset; box-shadow: 0 0 0 2px #ffffff inset; z-index: -1; top: 0; left: -2px; }
	a.video-image span:hover:after { box-shadow: 0 0 0 50px #ffffff inset; }

	.custom-video-player .wpb_single_image .vc_single_image-wrapper { position: relative; }
	.custom-video-player .wpb_single_image .vc_single_image-wrapper:after { content: ""; position: absolute; left: 0; background-color: rgba(0, 0, 0, 0.2); width: 100%; height: 100%; top: 0; display: block; z-index: 3; }	
	
	.image-overlay-icon .vc_single_image-wrapper { position: relative; }
	.image-overlay-icon .vc_single_image-wrapper:before { content: ""; display: block; width: 100%; height: 100%; background: rgba(0,0,0,0.4); top: 0; left: 0; right: 0; margin: 0 auto; position: absolute; }
	
	.image-overlay-icon a.video-image { position: absolute; top: 50%; transform: translateY(-50%); -moz-transform: translateY(-50%); -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); left: 0; right: 0; margin: 0 auto; width: 100%; text-align: center; }
	
	.gradient-parallax:before { content: ""; position: absolute; display: block; left: 0; top: 0; width: 100%; height: 100%; z-index: 9;
    background: -moz-linear-gradient(left, rgba(242, 243, 246, 1) 20%, rgba(242, 243, 246, 0.72) 30%, rgba(229, 229, 229, 0) 40%, rgba(229, 229, 229, 0) 100%);
    background: -webkit-linear-gradient(left, rgba(242, 243, 246, 1) 20%, rgba(242, 243, 246, 0.72) 30%, rgba(229, 229, 229, 0) 40%, rgba(229, 229, 229, 0) 100%);
    background: linear-gradient(to right, rgba(242, 243, 246, 1) 20%, rgba(242, 243, 246, 0.72) 30%, rgba(229, 229, 229, 0) 40%, rgba(229, 229, 229, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f2f3f6', endColorstr='#00e5e5e5', GradientType=1); }
	
	.gradient-parallax .gradient-content { z-index: 9; padding-right: 45px; }

	/** Custom Header **/
	.custom-header-topbar .flex-col-elements-inline-middle.justify-end.vc_column_container > .vc_column-inner > .wpb_wrapper > * { position: relative; padding: 0 20px; } 
	.custom-header-topbar .flex-col-elements-inline-middle.justify-end.vc_column_container > .vc_column-inner > .wpb_wrapper > *:after { content: ""; position: absolute; right: 0; width: 1px; height: 15px; display: inline-block; background-color: #555555; top: 0; bottom: 0; margin: auto; }
	.custom-header-topbar .flex-col-elements-inline-middle.justify-end.vc_column_container > .vc_column-inner > .wpb_wrapper > *:last-child:after, .custom-header-topbar .flex-col-elements-inline-middle.justify-end.vc_column_container > .vc_column-inner > .wpb_wrapper > *:nth-child(4):after { display: none; }
	.custom-header-topbar .flex-col-elements-inline-middle.justify-end.vc_column_container > .vc_column-inner > .wpb_wrapper > *:last-child, .custom-header-topbar .flex-col-elements-inline-middle.justify-end.vc_column_container > .vc_column-inner > .wpb_wrapper > *:nth-child(4) { padding-right: 0; }
	.dt-col-min-height-override.wpb_column { min-height: 0; }
	.custom-header-topbar .flex-col-elements-inline-middle:after { content: ""; position: absolute; border-bottom: 1px solid #d5d5d5; right: 0; bottom: -10px; float: left; width: 65%; }
	.dt-header-default .dt-sc-button.large { font-size: 16px; }


	.custom-img-border img { box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15); -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15); -ms-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15); }

	/** Custom Contact Form **/
	.custom_contact_form .wpcf7-form-control-wrap { margin: 0 0 30px; }
	.custom_contact_form textarea { height: 240px; }
	.custom_contact_form input[type="text"], .custom_contact_form input[type="password"], .custom_contact_form input[type="email"], .custom_contact_form input[type="url"], .custom_contact_form input[type="tel"], .custom_contact_form textarea { padding-left: 20px; }

	/** Custom Query Form **/
	.custom-query-form .wpcf7-form-control-wrap { margin: 0 0 30px; }


	/** Custom Button **/
	.dt-sc-button.simple { background-color: rgba(0, 0, 0, 0); clear: both; margin: 0; padding: 0; }
	.dt-sc-button.simple:hover { background-color: rgba(0, 0, 0, 0); }
	.dt-sc-button.simple.xlarge { font-size: 24px; }
	.dt-sc-button.with-icon.icon-right.simple span { width: 30px; height: 30px; background-color: #555555; text-align: center; line-height: 30px; color: #ffffff; font-size: 12px; border-radius: 50%; position: relative; }
	.dt-sc-button.with-icon.icon-right.xlarge.simple span { top: -3px; }

	/** Custom Package **/
	.dt-sc-meni-package-caption { background-color: #f4f4f4; clear: both; float: left; margin: 0 0 40px; overflow: hidden; padding: 0 0 0 50%; position: relative; width: 100%; }
	.dt-sc-meni-package-caption .dt-sc-meni-image { float: left; height: 100%; left: 0; margin: 0; position: absolute; top:0; width: 50%; }
	.dt-sc-meni-package-caption .dt-sc-meni-image > div { background-position: center; background-size: cover; display: inline-block; height: 100%; left: 0; position: absolute; top: 0; width: 100%; }
	.dt-sc-meni-package-caption .dt-sc-meni-content-wrapper h5 { margin: 0 0 10px; }
	.dt-sc-meni-package-caption .dt-sc-meni-content-wrapper h6 { font-size: 14px; margin: 0 0 30px; text-transform: uppercase; }
	.dt-sc-meni-package-caption .dt-sc-meni-content-wrapper { width: 100%; height: 100%; padding: 65px 11%; float: left; text-align: center; }
	.dt-sc-meni-package-caption .dt-sc-meni-content ul { float: left; margin: 20px 0 20px 0; width: 100%; }
	.dt-sc-meni-package-caption .dt-sc-meni-content ul li { list-style: none; position: relative; display: inline-block; font-size: 14px; padding: 0 10px 0 0; }
	.dt-sc-meni-package-caption .dt-sc-meni-content ul li:before { content: "\f00c"; font-family: "Font Awesome 5 Free"; font-weight: 900; padding: 0px 10px 0 0; }
	.dt-sc-meni-package-caption .dt-sc-meni-content-wrapper .dt-sc-button { font-size: 13px; text-transform: uppercase; letter-spacing: 2px; }
	 
	.dt-sc-meni-package-caption.alternate { padding: 0 50% 0 0; }
	.dt-sc-meni-package-caption.alternate .dt-sc-meni-image { right: 0; left: auto; }

	/** Custom Career Siderbar **/
	.custom-career-siderbar p { border-bottom: 1px solid #e5e5e5; display: inline-block; font-size: 14px; margin: 0 0 20px; padding: 0 0 20px; position: relative; vertical-align: middle; width: 100%; }
	.custom-career-siderbar p img { float: left; margin: 0 15px 0 0; }
	.custom-career-siderbar p a { padding: 3px 0 0; display: block; color: #555555; }
	.custom-career-siderbar p a:hover { color: #050505; }
	.custom-career-siderbar p:last-child { border-bottom-width: 0; margin: 0; padding: 0; }

	.custom-sidenav-stripe .dt-sc-button { background-color: #ffffff; margin: 0; }
	.custom-sidenav-stripe .flex-col-elements-inline-middle.vc_column_container > .vc_column-inner > .wpb_wrapper > * { margin: 0 30px 0 0; }
	.custom-sidenav-stripe .flex-col-elements-inline-middle.vc_column_container > .vc_column-inner > .wpb_wrapper > *:last-child, .custom-sidenav-stripe .flex-col-elements-inline-middle.vc_column_container > .vc_column-inner > .wpb_wrapper > .wpb_text_column { margin: 0; }
	.custom-sidenav-stripe p a { text-decoration: underline; }
	.custom-sidenav-stripe p a:hover { color: #050505; }

	/** Custom Testimonial Nav Remove **/
	.custom-testimonial-nav-remove .dt-sc-special-testimonial-images-holder button.slick-arrow, .custom-testimonial-nav-remove .dt-sc-special-testimonial-images-holder.slick-slider:before { display: none !important; }
	.dt-sc-special-testimonial.type2 .dt-sc-special-testimonial-images-holder .dt-sc-testimonial-image span { width: auto; }
	.dt-sc-special-testimonial.type2 .dt-sc-special-testimonial-images-holder .dt-sc-testimonial-image span:after { display: none; }
	.dt-sc-special-testimonial.type2 .dt-sc-special-testimonial-images-holder .dt-sc-testimonial-image span img { box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none; }

	.wpb_single_image.custom-bg-position { position: absolute; left: -26%; top: 0; }
	.wpb_single_image.custom-bg-position.right { left: auto; right: -54%; }
	.vc_row-flex.vc_row > .vc_column_container.bg-overlay-black > .vc_column-inner { z-index: auto; }
	.bg-overlay-black .vc_column-inner:before { content: ""; position: absolute; width: 100%; height: 100%; left: 0; top: 0; background-color: rgba(0, 0, 0, 0.7); z-index: 1; }
	.bg-overlay-black .vc_column-inner .wpb_wrapper { z-index: 3; }

	.carousel_items.custom-advance-image-carousel { position: relative; }
	.carousel_items.custom-advance-image-carousel .dt_carousel > div { float: left; padding-bottom: 1px; }
	.carousel_items.custom-advance-image-carousel .dt-carousel-pagination { position: absolute; bottom: 20px; margin: 0; }

	.dt-sc-dark-bg .slick-dots li button:before { background-color: #ffffff; }

	.dt-custom-downloadable-links .dt-sc-button { background-color: #eee; padding: 25px 20px 25px 90px !important; width: 100%; -webkit-box-shadow: 0 0 0 1px #ddd inset; box-shadow: 0 0 0 1px #ddd inset; }
	.dt-custom-downloadable-links .dt-sc-button span { color: #fff; height: 100%; line-height: 70px; position: absolute; bottom: 0; left: 0; top: 0; text-align: center; width: 70px; -webkit-transition: inherit; transition: inherit;  background-color: #000000; }
	.dt-custom-downloadable-links .dt-sc-button:hover { border-color: transparent; -webkit-box-shadow: none; box-shadow: none; }
	.dt-custom-downloadable-links .dt-sc-button:hover span { background-color: #000000; }


	/** Custom Sidenav Footer Stripe **/
	.custom-sidenav-footer-stripe h2 { font-weight: 300; }
	.custom-sidenav-footer-stripe h2 b { font-weight: 500; }
	#footer .custom-sidenav-footer-stripe .dt-sc-button.bordered { border-color: #555555; color: #ffffff; padding: 15px 35px 15px 30px; }
	.custom-sidenav-footer-stripe .dt-sc-button.bordered.with-icon.icon-right.type2 span { background-color: #555555; }

	span.custom-phone-icon { width: 70px; height: 70px; background-color: #000; line-height: 70px; border-radius: 50%; color: #ffffff; font-size: 22px; }
	

	/** Footer Form **/
	.footer-form .dt-sc-title.script-with-sub-title h6.dt-sc-main-heading { margin-bottom: 10px; }
	.footer-form .dt-sc-one-half { width: 48%; }
	.footer-form .column { margin: 0 0 0 4%; }
	.footer-form .column.first { margin-left: 0; }
	.footer-form input[type="text"], .footer-form input[type="password"], .footer-form input[type="email"], .footer-form input[type="url"], .footer-form input[type="tel"], .footer-form textarea { border-width: 0 0 1px 0; color: #555555; font-size: 14px; padding: 10px 15px 10px 0; }
	footer .footer-form input[type="submit"], .custom_contact_form input[type="submit"], .custom-query-form input[type="submit"] { background: none; font-size: 16px; margin: 0; padding: 14px 30px 14px 25px; text-transform: uppercase; }
	footer .footer-form form > p { display: block; margin: 0; }

	footer .footer-form input[type="submit"]:hover, .custom_contact_form input[type="submit"]:hover, .custom-query-form input[type="submit"]:hover { /*letter-spacing: 2.5px; padding-right: 25px;*/ color: #ffffff; }

	.footer-form p.aligncenter > span:not(.ajax-loader), .custom_contact_form p.aligncenter > span:not(.ajax-loader), .custom-query-form p.aligncenter > span:not(.ajax-loader) { display: inline-block; position: relative; }

	/* .footer-form p.aligncenter > span:not(.ajax-loader):after, .custom_contact_form p.aligncenter > span:not(.ajax-loader):after, .custom-query-form p.aligncenter > span:not(.ajax-loader):after { width: 30px; height: 30px; content: "\f105"; right: -15px; top: 0; bottom: 0; margin: auto; font-family: "Font Awesome 5 Free"; font-weight: 900; background-color: #000; display: inline-block; border-radius: 50%; line-height: 30px; position: absolute; color: #ffffff; transition: all 300ms ease-out; -webkit-transition: all 300ms ease-out; -ms-transition: all 300ms ease-out; }
	
	.footer-form p.aligncenter > span:not(.ajax-loader):hover:after, .custom_contact_form p.aligncenter > span:not(.ajax-loader):hover:after, .custom-query-form p.aligncenter > span:not(.ajax-loader):hover:after { opacity: 0; right: -25px; } */


    .footer-form p.aligncenter > span:not(.ajax-loader):before, .custom_contact_form p.aligncenter > span:not(.ajax-loader):before, .custom-query-form p.aligncenter > span:not(.ajax-loader):before, 
    .footer-form p.aligncenter > span:not(.ajax-loader):after, .custom_contact_form p.aligncenter > span:not(.ajax-loader):after, .custom-query-form p.aligncenter > span:not(.ajax-loader):after { display: inline !important; color: #fff; content: "\f105"; font-family: "Font Awesome 5 Free"; font-size: 16px; font-weight: 900; height: 30px; line-height: 30px; position: absolute; left: 100%; top: 50%; width: 30px; -webkit-border-radius: 50%; border-radius: 50%; -webkit-transition: all 0.3s linear 0s; transition: all 0.3s linear 0s; }

    .footer-form p.aligncenter > span:not(.ajax-loader):after, .custom_contact_form p.aligncenter > span:not(.ajax-loader):after, .custom-query-form p.aligncenter > span:not(.ajax-loader):after { background: #000; -webkit-transform: translate(-150%, -50%); transform: translate(-150%, -50%); }
    

    .footer-form p.aligncenter > span:not(.ajax-loader):after, .custom_contact_form p.aligncenter > span:not(.ajax-loader):after, .custom-query-form p.aligncenter > span:not(.ajax-loader):after, 

    .footer-form p.aligncenter > span:not(.ajax-loader):hover:before, .custom_contact_form p.aligncenter > span:not(.ajax-loader):hover:before, .custom-query-form p.aligncenter > span:not(.ajax-loader):hover:before { opacity: 0; }


	.footer-form p.aligncenter > span:not(.ajax-loader):before, .custom_contact_form p.aligncenter > span:not(.ajax-loader):before, .custom-query-form p.aligncenter > span:not(.ajax-loader):before,
    .footer-form p.aligncenter > span:not(.ajax-loader):hover:after, .custom_contact_form p.aligncenter > span:not(.ajax-loader):hover:after, .custom-query-form p.aligncenter > span:not(.ajax-loader):hover:after { opacity: 1; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }


	.footer-form .wpcf7-form div.wpcf7-validation-errors, .footer-form .wpcf7-form div.wpcf7-mail-sent-ok { position: absolute; left: 0; right: 0; margin: 20px auto; width: 90%; }

	.responsive-map .gm-style .gm-style-iw-c { background-color: #000000; border-radius: 0; color: #ffffff; font-size: 14px; line-height: 26px; padding: 20px 30px 10px 25px !important; top: -15px; }
	.responsive-map .gm-style .gm-style-iw-d::-webkit-scrollbar-track, .responsive-map .gm-style .gm-style-iw-d::-webkit-scrollbar-track-piece { background-color: #000000; }
	.responsive-map .gm-style .gm-style-iw-d { overflow: auto !important; }
	.responsive-map .gm-style .gm-style-iw-c button.gm-ui-hover-effect { opacity: 1; top: 0px !important; right: 0px !important; }
	.responsive-map .gm-style .gm-style-iw-c button.gm-ui-hover-effect img { filter: invert(100%); -webki-filter: invert(100%); -ms-filter: invert(100%); }
	.responsive-map .gm-style .gm-style-iw-t:after { background: rgba(255, 255, 255, 0); box-shadow: none; border-top: 20px solid; border-left: 10px solid transparent; border-right: 10px solid transparent; transform: translate(-50%, 0%); -webkit-transform: translate(-50%, 0%); -ms-transform: translate(-50%, 0%); -moz-transform: translate(-50%, 0%); top: -15px; }

	.custom-image-column-overlap-bg { overflow: visible; z-index: 9; }
	.custom-image-column-overlap { position: relative; z-index: 9; left: 17%; }
	.custom-half-column-overlap > .vc_column-inner { padding-left: 17%; }

	.custom-link-size { color: #050505; font-size: 18px; line-height: 36px; }
	.custom-link-size a:hover { color: #050505; }

		
	@media screen and (-webkit-min-device-pixel-ratio:0) { 
		::i-block-chrome, .safari-hack.vc_row.vc_row-flex { display: block !important; }
	}
	/*.vc_row.vc_row-flex, .vc_row.vc_row-flex > .vc_column_container*/

	/*----*****---- << Vc Column custom class >> --****--*/
	.rs_no-padding_column.wpb_column, .vc_col-md-12.wpb_column.rs_no-padding_column { margin-top: -1px; padding-bottom: 0; margin-bottom:0; } /* http://prntscr.com/dydqdv */
	
	.light-overlay:before { background:rgba(255, 255, 255, 0.8); } /* http://prntscr.com/dydsrd  = Model Home page contact section */
	.dark-overlay:before { background:rgba(0, 0, 0, 0.8);  }	

	/*----*****---- << Gray Scale >> --****--*/ /* http://prntscr.com/dydr06 = Hotel Our Firm Page */
	.gray-scale:hover, .gray-scale:hover img { -webkit-filter: grayscale(1); -moz-filter: grayscale(1); -ms-filter: grayscale(1); -o-filter: grayscale(1); filter: grayscale(1); -webkit-transition-property: -webkit-filter; -moz-transition-property: -moz-filter; -ms-transition-property: -ms-filter; -o-transition-property: -o-filter; transition-property: filter; -webkit-transition-duration: 1s; -moz-transition-duration: 1s; -ms-transition-duration: 1s; -o-transition-duration: 1s; transition-duration: 1s; }
	
	/*----*****---- << Text with icon >> --****--*/ /* http://prntscr.com/dydrax = Fitness Home Page */
	.dt-sc-text-with-icon { width:100%; clear:both; float:left; font-weight:bold; padding:12px 0 12px 20px; }
	.dt-sc-text-with-icon span { font-size:18px; margin:0 7px 0 0; position:relative; top:2px; font-weight:bold; }
	
	.dt-sc-text-with-icon.border-bottom { border-bottom:1px solid; }
	.dt-sc-text-with-icon.border-right { border-right:1px solid; }

	.dt-sc-dark-bg .dt-sc-text-with-icon span { color:#ffffff; }
	
	/*----*****---- << Hosting Domain Page Table >> --****--*/ /* http://prntscr.com/dydxr3 = Hosting Domain Page */
	.hosting-table { border-top:0; font-family:'Open Sans', sans-serif; }
	.hosting-table th { background:#e1e1e1; border-radius:5px 5px 0 0; color:#000000; font-weight:600; font-size:16px; border-right:1px solid #ffffff; padding:20px 15px; }
	.hosting-table tr td, .hosting-table tbody tr:nth-child(2n+1) td { background:rgba(0, 0, 0, 0.95); border-right:1px solid rgba(255, 255, 255, 0.2); border-bottom:0; font-size:16px; font-weight:600; padding:25px 15px; }
	.hosting-table tbody tr td:last-child, .hosting-table tr th:last-child { border:none; }
	
	.hosting-table tbody tr:nth-child(2) td { background:rgba(0, 0, 0, 0.9); }
	.hosting-table tbody tr:nth-child(3) td { background:rgba(0, 0, 0, 0.85); }
	.hosting-table tbody tr:nth-child(4) td { background:rgba(0, 0, 0, 0.8); }
	.hosting-table tbody tr:nth-child(5) td { background:rgba(0, 0, 0, 0.75); }
	.hosting-table tbody tr:nth-child(6) td { background:rgba(0, 0, 0, 0.7); }
	.hosting-table tbody tr:nth-child(7) td { background:rgba(0, 0, 0, 0.65); }
	.hosting-table tbody tr:nth-child(8) td { background:rgba(0, 0, 0, 0.6); }
	.hosting-table tbody tr:nth-child(9) td { background:rgba(0, 0, 0, 0.55); }
	.hosting-table tbody tr:nth-child(10) td { background:rgba(0, 0, 0, 0.5); }
	.hosting-table tbody tr:nth-child(11) td { background:rgba(0, 0, 0, 0.45); }
	.hosting-table tbody tr:nth-child(12) td { background:rgba(0, 0, 0, 0.4); }
	
	.hosting-table tbody tr td:first-child { position:relative; }
	.hosting-table tbody tr td:first-child:before { content:""; position:absolute; left:0; top:0; width:100%; height:100%; background:#60ae0d; z-index:-1; }
	
	.hosting-table tbody tr td.new, .hosting-table tbody tr td.hot { position:relative; overflow:hidden; }
	.hosting-table tbody tr td.new:before, .hosting-table tbody tr td.hot:before { content:"New"; position:absolute; left:-20px; top:5px; padding:2px 22px; background:#60ae0d; color:#ffffff; font-size:12px; -webkit-transform:rotate(-45deg); -moz-transform:rotate(-45deg); -ms-transform:rotate(-45deg);  transform:rotate(-45deg); }
	.hosting-table tbody tr td.hot:before { content:"Hot"; background:#e80505; padding:2px 24px; }

	/*----*****---- << Spa rounded corner image >> --****--*/ /* http://prntscr.com/dydylt = Spa */
	.dt-sc-partially-rounded-alt { -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 0.3s linear; -ms-transition:all 0.3s linear; transition:all 0.3s linear; }
	
	.vc_min_height_right.wpb_column.vc_col-sm-6 { margin-left: 30px; width: calc(50% - 30px); } /* http://prntscr.com/e0ka7y *
	
	/*----*****---- << Image Caption With Counter >> --****--*/	 /* http://prntscr.com/dydzek = Image caption counter */
	.dt-sc-image-caption-with-counter { counter-reset:image-caption-counter; }
	.dt-sc-image-caption-with-counter h3 { counter-increment:image-caption-counter; }
	.dt-sc-image-caption-with-counter h3:before { content:counter(image-caption-counter, decimal-leading-zero); font-size:36px; font-weight:600; border-bottom:2px solid; float:left; margin:-10px 20px 0 0; padding:0; }
	.dt-sc-image-caption-with-counter h3:before { font-family:'Open Sans', sans-serif; }
	
	.dt-sc-contact-details-on-map .dt-sc-map-overlay h3, .dt-sc-contact-details-on-map .map-switch-icon, .dt-sc-contact-details-on-map .map-switch-icon:hover { color:#ffffff; }	
	.dt-sc-contact-details-on-map .map-switch-icon:hover { background:#000000; } /* http://prntscr.com/dydzs2 = Restaurant */
	
	/*----*****---- << Photography Readmore Plus >> ----*****----*/ /* http://prntscr.com/dydzxp = Photography */
	.dt-sc-readmore-plus-icon:before, .dt-sc-readmore-plus-icon:after { -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 0.3s linear; -ms-transition:all 0.3s linear; transition:all 0.3s linear; } 
	
	.dt-sc-readmore-plus-icon { position:absolute; right:0; bottom:0; width:60px; height:60px; text-indent:-9999px; }
	.dt-sc-readmore-plus-icon:before, .dt-sc-readmore-plus-icon:after { content:""; position:absolute; left:0; right:0; top:0; bottom:0; margin:auto; }
	.dt-sc-readmore-plus-icon:before { height:1px; width:30px; }
	.dt-sc-readmore-plus-icon:after { height:30px; width:1px; }	
	
	.dt-sc-readmore-plus-icon:before, .dt-sc-readmore-plus-icon:after { background:#ffffff; }	
	.dt-sc-readmore-plus-icon { background:#000000; }	
	.dt-sc-readmore-plus-icon:hover { background:rgba(0, 0, 0, 0.8); }
	
	/*----*****---- << Nightclub Home page Social icons >> ----*****----*/
	.diamond-narrow-square-border li:before { -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 0.3s linear; -ms-transition:all 0.3s linear; transition:all 0.3s linear; }
	
	.diamond-narrow-square-border li a { color:#000000; }	
	.diamond-narrow-square-border li a:hover { color:#ffffff; }


	.dt-alter-bottom-margin-none { margin-bottom: 0 !important; }

	
	/*--------------------------------------------------------------
	2.0 - Browser Fix
	--------------------------------------------------------------*/
	/* IE9 and above override */	
	@media screen and (min-width:0\0) { 
			
		.dt-sc-contact-details-on-map .dt-sc-map-overlay { padding: 71px 0 0; }
	}
	
	/* IE9 only override */	
	.ie9 .dt-sc-contact-details-on-map .dt-sc-map-overlay { padding: 72px 0 0; }	


	@media only screen and (max-width: 1600px) and (min-width: 1441px) {

		.dt-header-default .dt-sc-button.large.with-icon.icon-left { padding: 13px 15px; }

	} 

	@media only screen and (max-width: 1440px) and (min-width: 1200px) {

		.dt-header-default .dt-sc-button.large.with-icon.icon-left { padding: 13px 15px; }
		.custom-sidenav-stripe .flex-col-elements-inline-middle.vc_column_container > .vc_column-inner > .wpb_wrapper > * { margin: 0 20px 0 0; }

	} 

	@media only screen and (max-width: 1199px) {

		.custom-header-topbar .flex-col-elements-inline-middle.justify-end.vc_column_container > .vc_column-inner > .wpb_wrapper > *:first-child { display: none; }

	}

	/*--------------------------------------------------------------
	3.0 - DT Responsive
	--------------------------------------------------------------*/
	/* Note: Design for a width of 960px */	
    @media only screen and (min-width:992px) and (max-width:1199px) {
		
		.custom-header-topbar .flex-col-elements-inline-middle.justify-end.vc_column_container > .vc_column-inner > .wpb_wrapper > *:nth-child(3) {	padding-left: 0; }
		.custom-header-topbar .flex-col-elements-inline-middle:after { width: 70%; }
		.dt-header-default .dt-sc-button.large.with-icon.icon-left { padding: 15px 25px; }
		.custom-sidenav-stripe .flex-col-elements-inline-middle.vc_column_container > .vc_column-inner > .wpb_wrapper { display: block; text-align: center; }
		.custom-sidenav-stripe .flex-col-elements-inline-middle.vc_column_container > .vc_column-inner > .wpb_wrapper > p { text-align: center !important; margin: 0 0 10px !important; }
		.custom-sidenav-stripe .flex-col-elements-inline-middle.vc_column_container > .vc_column-inner > .wpb_wrapper > .dt-sc-button { margin: 0 0 10px; }
		.custom-sidenav-stripe .flex-col-elements-inline-middle.vc_column_container > .vc_column-inner > .wpb_wrapper > * { margin: 0; }

		/*----*****---- << Hosting >> ----*****----*/
		.hosting-contact-info-container .dt-sc-contact-info.type7 span { left:10px; }
		
		/*----*****---- << Restaurant >> ----*****----*/
		.dt-sc-contact-details-on-map .dt-sc-map-overlay { padding: 72px 0 0; }
		
		/*----*****---- << Miscellaneous >> ----*****----*/
		.dt-sc-text-with-icon { font-size: 13px; }
		
		.dt-sc-image-caption.type8 .dt-sc-image-title h6 { line-height: normal; }		

		.footer-form .dt-sc-title.script-with-sub-title h3.dt-sc-sub-heading { font-size: 29px;	}

		.wpb_single_image.custom-bg-position.left { left: -43%; }
		.wpb_single_image.custom-bg-position.right { right: -88%; }
		
	}

	@media only screen and (max-width: 991px) {

		.custom-sidenav-stripe .flex-col-elements-inline-middle.vc_column_container > .vc_column-inner > .wpb_wrapper { display: block; text-align: center; }
		.custom-sidenav-stripe .flex-col-elements-inline-middle.vc_column_container > .vc_column-inner > .wpb_wrapper > p { text-align: center !important; margin: 0 0 10px !important; }
		.custom-sidenav-stripe .flex-col-elements-inline-middle.vc_column_container > .vc_column-inner > .wpb_wrapper > .dt-sc-button { margin: 0 0 10px; }
		.custom-sidenav-stripe .flex-col-elements-inline-middle.vc_column_container > .vc_column-inner > .wpb_wrapper > * { margin: 0; }

	}
	
	 /* Note: Design for a width of 768px */
    @media only screen and (min-width:768px) and (max-width:991px) {
		
		.dt-sc-text-with-icon { font-size: 11px; }
		
		.vc_row.vc_row-no-padding .dt-sc-map-overlay .wpb_column.vc_col-sm-3 { padding-left: 5px; padding-right: 5px; }
		.vc_row.vc_row-no-padding .dt-sc-map-overlay .wpb_column.vc_col-sm-3 .dt-sc-contact-info.type3 { font-size: 13px; padding-left: 10px; padding-right: 10px; }
		.vc_row.vc_row-no-padding .dt-sc-map-overlay .wpb_column.vc_col-sm-3 .dt-sc-contact-info.type3 h6 { font-size: 15px; }
	
		.dt-sc-contact-details-on-map .dt-sc-map-overlay { padding: 76px 0 0; }	
		
		.rs_line_height p { line-height:normal !important; }
		
		/*----*****---- << Event >> ----*****----*/
		.dt-sc-content-with-hexagon-shape { margin-left:16%; }
		.event-colored-box { margin-top:0; }
		.event-contact-info { margin-left:25%; }
		
		/*----*****---- << Architecture >> ----*****----*/
		.architecture-process.rs_padding_override { padding-left:20px !important; padding-right:20px !important; }
		.column.wpb_column.dt-sc-one-fifth.vc_col-md-4 { width:32%; margin-bottom:20px; min-height:290px; }
		.column.wpb_column.dt-sc-one-fifth.vc_col-md-4:nth-child(4), .column.wpb_column.dt-sc-one-fifth.vc_col-md-4:nth-child(10) { margin-left:0; }
		
		.secondary-skin-gradient .dt-sc-contact-info, .secondary-skin-gradient .dt-sc-contact-info span { font-size: 40px; }		

		.rs_padding_override_default-sm.vc_row,
		.rs_padding_override_default-sm.wpb_column .vc_column-inner { padding-left: 15px !important; padding-right: 15px !important; }

		.wpb_single_image.custom-bg-position.left { display: none; }
		.wpb_single_image.custom-bg-position.right { right: -35%; }
		.carousel_items.custom-advance-image-carousel .dt_carousel > div { margin: 0 2px 10px; }

		.rs_aligncenter_mb { text-align: center !important; }

	}
	
	/*----*****---- << Mobile (Landscape) >> ----*****----*/	
	
	/* Common Styles for the devices below 767px width */
	@media only screen and (max-width: 767px) {
	
		.fitness-form-container.extend-bg-fullwidth-right::after { background-color:transparent; }
		.fitness-form-container.extend-bg-fullwidth-right .vc_column-inner { padding-left:30px !important; padding-right:30px !important; }
		.fitness-contact-boxes .wpb_text_column, .fitness-contact-boxes .wpb_text_column:nth-child(2), .fitness-contact-boxes .wpb_text_column:last-child, .fitness-contact-boxes .wpb_text_column:nth-child(3) { width:100%; padding:10px 0; }
		
		.hotel_blockquote-type4 blockquote.type4 { margin-top:0; }
		
		.event-colored-box { margin-top:0; }
		.event-contact-info.wpb_column { width: 320px; padding: 85px 30px 30px; float: none; }
			
		.gradient-parallax:before { background: -moz-linear-gradient(to right, rgba(242, 243, 246, 1) 20%, rgba(242, 243, 246, 0.75) 30%, rgba(242, 243, 246, 0.65) 40%, rgba(242, 243, 246, 0.55)60%, rgba(229, 229, 229, 0) 100%);
    background: -webkit-linear-gradient(to right, rgba(242, 243, 246, 1) 20%, rgba(242, 243, 246, 0.75) 30%, rgba(242, 243, 246, 0.65) 40%, rgba(242, 243, 246, 0.55)60%, rgba(229, 229, 229, 0) 100%);
    background: linear-gradient(to right, rgba(242, 243, 246, 1) 20%, rgba(242, 243, 246, 0.75) 30%, rgba(242, 243, 246, 0.65) 40%, rgba(242, 243, 246, 0.55)60%, rgba(229, 229, 229, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f2f3f6', endColorstr='#00e5e5e5', GradientType=1); }
		
		/*----*****---- << Hosting >> ----*****----*/
		.hosting-contact-info-container .dt-sc-contact-info.type7 span { left:0; }
		.hosting-contact-info-container .dt-sc-contact-info.type7 { padding-left:100px; }
		.rs_client_testimonial-center .dt-sc-image-flip a { position:relative; display:block; }
		.rs_client_testimonial-center .dt-sc-image-flip { text-align:center; }
		
		.hosting-table th { font-size:13px; padding:13px 10px; text-transform: capitalize; }
		.hosting-table tr td, .hosting-table tbody tr:nth-child(2n+1) td { font-size:13px; padding:21px 10px; }
		.hosting-contact-info-container:before { content:none; }
		
		.extend-bg-fullwidth-left::after { content:none; }
		
		/*----*****---- << Custom Class >> ----*****----*/
		.rs_col_no_btm_space .wpb_column, .rs_col_no_btm_space.wpb_column, 
		.rs_negative-margin_override.vc_row { margin-left:0 !important; }
					
		.rs_padding_override_zero.vc_row,
		.rs_padding_override_zero.wpb_column .vc_column-inner { padding-left: 0 !important; padding-right: 0 !important; }

		.rs_padding_override_default.vc_row,
		.rs_padding_override_default.wpb_column .vc_column-inner { padding-left: 15px !important; padding-right: 15px !important; }
		
		.secondary-skin-gradient .dt-sc-contact-info, .secondary-skin-gradient .dt-sc-contact-info span { font-size: 30px; }
		
		/*----*****---- << Custom Class >> ----*****----*/
		.rs_padding_override.vc_row, 
		.rs_padding_override.wpb_column .vc_column-inner { padding-left: 50px !important; padding-right: 50px !important; }

		.vc_row.extend-bg-fill-slanting .extend-bg-fullwidth-left:not(.vc_col-has-fill):after, 
		.vc_row.extend-bg-fill-slanting .extend-bg-fullwidth-left.vc_col-has-fill > .vc_column-inner:after,
		.vc_row.extend-bg-fill-slanting .extend-bg-fullwidth-right:not(.vc_col-has-fill):after, 
		.vc_row.extend-bg-fill-slanting .extend-bg-fullwidth-right.vc_col-has-fill > .vc_column-inner:after { margin: 0 -15px; left: 0; right: 0; transform: none; }

		.rs_aligncenter_xs .dt-sc-sociable.right { float: none;	text-align: center;	}
		.custom-header-topbar .flex-col-elements-inline-middle.justify-end.vc_column_container > .vc_column-inner > .wpb_wrapper > *, .custom-header-topbar .flex-col-elements-inline-middle.justify-end.vc_column_container > .vc_column-inner > .wpb_wrapper > *:nth-child(4) { padding: 0 10px 15px; }
		.custom-header-topbar .flex-col-elements-inline-middle.justify-end.vc_column_container > .vc_column-inner > .wpb_wrapper > *:after { display: none; }
		.custom-header-topbar .flex-col-elements-inline-middle:after { left: 0; right: 0; margin: auto; width: 50%; }

		.dt-header-default .dt-sc-button.large.with-icon.icon-left { padding: 15px 25px; } 

		.custom_contact_form .wpcf7-form-control-wrap, .custom-query-form .wpcf7-form-control-wrap { margin: 0 0 10px; }
		.dt-sc-meni-package-caption, .dt-sc-meni-package-caption.alternate { padding: 0; }
		.dt-sc-meni-package-caption .dt-sc-meni-image { position: relative; padding-top: 100%; width: 100%; }

		.wpb_single_image.custom-bg-position { display: none; }
		.carousel_items.custom-advance-image-carousel .dt_carousel > div { margin: 1px 1px 10px; }

		.rs_aligncenter_mb { text-align: center !important; }

	}

		@media only screen and (max-width: 479px) and (min-width: 320px) {

		.footer-form .dt-sc-one-half { width: 100%; }
		.footer-form .column { margin: 0; }
		.footer-form .column.first { margin: 0 0 15px; }

		}
	
	/* Common Styles for the devices below 479px width */
    @media only screen and (max-width: 479px) {

		.custom-header-topbar .flex-col-elements-inline-middle:after { width: 75%; }
		
		/*----*****---- << Event location page >> ----*****----*/
		.event-contact-info.wpb_column { width:100%; margin:20px 0 0 0; }
		.event-contact-info:before { left:0; width:100%; background-size:100%; }
		.event-contact-info .dt-sc-sociable li { margin-bottom:20px; }
	
		/*----*****---- << Custom Class >> ----*****----*/
		.rs_padding_left-override.vc_row .vc_column-inner, .rs_padding_left-override.wpb_column .vc_column-inner { padding-left:15px !important; }
		.vc_row.vc_row-no-padding .responsive-padding > .vc_column-inner { padding-right: 35px; padding-left: 35px; }
		
		.gradient-content .dt-sc-button.medium { padding: 14px 20px; }
		
		.overflow-content { margin: 0; }
		
		/*----*****---- << Hosting >> ----*****----*/
		.hosting-table th { text-transform:capitalize; font-size:12px; padding:13px 6px; }
		.hosting-table tr td, .hosting-table tbody tr:nth-child(2n+1) td { font-size:12px; padding:22px 8px; }
		
		/*----*****---- << Miscellaneous >> ----*****----*/
		.rs_fontsize_small { font-size: 40px !important; }		
						
		.rs_padding_override.vc_row, 
		.rs_padding_override.wpb_column .vc_column-inner { padding-left: 30px !important; padding-right: 30px !important; }
		
		/*----*****---- << Business >> ----*****----*/	
		.business-contact-social li { margin: 0 15px; }
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 319px) {
		
		/*----*****---- << Event location page >> ----*****----*/
		.event-contact-info.wpb_column { padding-left:20px; padding-right:20px; }
		.event-contact-info .dt-sc-contact-info span { width:100%; text-align:center; float:none; margin:0; }
		
		/*----*****---- << Hosting contact Page >> ----*****----*/	
		.hosting-contact-info-container:before { left:0; }
		.hosting-contact-info-container .dt-sc-contact-info.type7 { padding-left:0; }
		.hosting-contact-info-container .dt-sc-contact-info.type7 span { left:0; }
		.hosting-contact-info-container:before { width:100%; }
		
		/*----*****---- << Hosting Domain Page >> ----*****----*/		
		.hosting-table th { font-size:10px; padding:13px 0; }
		.hosting-table tr td, .hosting-table tbody tr:nth-child(2n+1) td { font-size:10px; padding:21px 7px; }

		/*----*****---- << Common >> ----*****----*/
		.rs_fontsize_small { font-size: 32px !important; }
		
		/* http://prntscr.com/dydp42, http://prntscr.com/dydpkf */
		.rs_padding_override.vc_row, 
		.rs_padding_override.wpb_column .vc_column-inner { padding-left: 20px !important; padding-right: 20px !important; }
	
		/*----*****---- << Fitness >> ----*****----*/
		.dt-sc-text-with-icon { font-size: 10px; padding-left: 15px; }
		.dt-sc-text-with-icon span { font-size: 15px; margin-right: 5px; }		
	}