

/* Table of Content
==================================================
	1.0 - Container
	2.0 - Boxed
	3.0 - Columns
	4.0 - Mega Menu
	5.0 - Responsive */
	
	
	/*--------------------------------------------------------------
	1.0 - Container
	--------------------------------------------------------------*/

	.wrapper { clear:both; width:100%; margin:0; padding:0; float:left; }
	.inner-wrapper { margin:0; width:100%; float:left; padding:0; overflow:hidden; }
	
	.container { width:1230px; margin:0 auto; position:relative; clear:both; }
	
	.container.fill-container, .container.fill-stretch-row, .page-template-tpl-fullwidth .section-wrapper.fullwidth-section .container.fill-stretch-row { width:1260px; }
	.page-template-tpl-fullwidth .vc_row.vc-default-row { margin-left:0; }	

	#header .dt-header-tpl .sticky-wrapper .apply-sticky-header { max-width: 1230px; }
	
	#main { float:left; clear:both; width:100%; margin:0; padding:0; display:block; }
	
	#primary { margin:0; padding:0px 0 0; float:left; position:relative; width:885px; }
	#primary.content-full-width { width:100%; }
	#primary.with-left-sidebar { float:right; margin-left:60px; }
	#primary.with-right-sidebar { float:left; margin-right:60px; }
	#primary.with-both-sidebar { width:590px; float:left; margin:0px 35px; }
	
	#secondary, #secondary-right, #secondary-left { width:285px; margin:0; float:left; padding:0; position:relative; z-index:1; }
	#secondary-right { float:right; }
	#secondary-left { float:left; }
	#secondary.secondary-has-both-sidebar { margin:0; }
	
	.page-template-tpl-fullwidth-php #primary { padding-bottom:0; }
	
	/*----*****---- << Single Page >> ----*****----*/
	.page-template-tpl-blog #primary, .page-template-tpl-portfolio #primary, .page-template-tpl-sidenavigation #primary, .single #primary, .archive #primary, .post-type-archive-tribe_events #primary, .woocommerce-page #primary, .single.single-wp_router_page #main, .search.search-results #primary, .search.search-no-results #primary, .home.blog #primary { padding-bottom:80px; }
	
	/*--------------------------------------------------------------
	2.0 - Boxed
	--------------------------------------------------------------*/

	body.layout-boxed { background-attachment: fixed; background-color: rgba(0,0,0,0.025); }
	.layout-boxed .wrapper { overflow:hidden; }
	.layout-boxed .inner-wrapper { background:#ffffff; }
	
	.layout-boxed .vc_row.vc_row-no-padding { left: auto !important; margin: 0 -75px; width: auto !important; }
	.layout-boxed .wrapper { width:1280px; margin:0 auto; float:none; }
	.layout-boxed .vc_row .dt-sc-stretch-row-content { width: 1230px; margin: 0 auto; float: none; padding: 0; }
	
	/*--------------------------------------------------------------
	3.0 - Columns
	--------------------------------------------------------------*/
	
	.column { margin: 0 0  0 2%; float:left; min-height:1px; position:relative; }
	.column.first { clear:both; margin-left: 0; }	
	.column.dt-sc-full-width, .column.dt-sc-one-column { margin-left: 0; }

	.dt-sc-full-width, .dt-sc-one-column { width:100%; }
	
	.dt-sc-one-half, .dt-sc-three-sixth { width: 49%; }
	.dt-sc-one-third, .dt-sc-two-sixth { width: 32%; }
	.dt-sc-two-third, .dt-sc-four-sixth { width: 66%; }

	.dt-sc-one-fourth { width: 23.5%; }
	.dt-sc-three-fourth { width: 74.5%; }	

	.dt-sc-one-fifth { width: 18.4%; }
	.dt-sc-two-fifth { width: 38.8%; }
	.dt-sc-three-fifth { width: 59.2%; }
	.dt-sc-four-fifth { width: 79.6%; }

	.dt-sc-one-sixth { width: 15%; }
	.dt-sc-five-sixth { width: 83%; }	
	
	.column.no-space { margin-left: 0; margin-right: 0; }

	.column.no-space.dt-sc-one-half, .column.no-space.dt-sc-three-sixth { width: 50%; }
	.column.no-space.dt-sc-one-third, .column.no-space.dt-sc-two-sixth { width: 33.33%; }
	.column.no-space.dt-sc-two-third, .column.no-space.dt-sc-four-sixth { width: 66.66%; }

	.column.no-space.dt-sc-one-fourth { width: 25%; }
	.column.no-space.dt-sc-three-fourth { width: 75%; }	

	.column.no-space.dt-sc-one-fifth { width: 20%; }
	.column.no-space.dt-sc-two-fifth { width: 40%; }
	.column.no-space.dt-sc-three-fifth { width: 60%; }
	.column.no-space.dt-sc-four-fifth { width: 80%; }

	.column.no-space.dt-sc-one-sixth { width: 16.66%; }
	.column.no-space.dt-sc-five-sixth { width: 83.33%; }

	.dt-col { float: left; margin: 0; min-height: 1px; padding: 0 15px; position: relative; }	
	
	
	.column iframe, iframe { max-width:100%; }
	embed, iframe, object, video { max-width:100%; }


	/*----*****---- << Custom Class Override >> ----*****----*/

	.rs_margin-none.vc_row { margin-left: 0 !important; margin-right: 0 !important; }
	.rs_margin-default.vc_row { margin-left: -15px !important; margin-right: -15px !important; }	

	/*--------------------------------------------------------------
	4.0 - Responsive
	--------------------------------------------------------------*/

	@media only screen and (min-width:1441px) and (max-width:1680px) {

		/*----*****---- << Custom Responsive Columns >> ----*****----*/	

		.dt-col-hxlg-12, .wpb_column.dt-col-hxlg-12, .wpb_column.rs_col-hxlg-12 { width: 100%; }
		.dt-col-hxlg-11, .wpb_column.dt-col-hxlg-11, .wpb_column.rs_col-hxlg-11 { width: 91.66666667%; }
		.dt-col-hxlg-10, .wpb_column.dt-col-hxlg-10, .wpb_column.rs_col-hxlg-10 { width: 83.33333333%; }
		.dt-col-hxlg-9, .wpb_column.dt-col-hxlg-9, .wpb_column.rs_col-hxlg-9 { width: 75%; }
		.dt-col-hxlg-8, .wpb_column.dt-col-hxlg-8, .wpb_column.rs_col-hxlg-8 { width: 66.66666667%; }
		.dt-col-hxlg-7, .wpb_column.dt-col-hxlg-7, .wpb_column.rs_col-hxlg-7 { width: 58.33333333%; }
		.dt-col-hxlg-6, .wpb_column.dt-col-hxlg-6, .wpb_column.rs_col-hxlg-6 { width: 50%; }
		.dt-col-hxlg-5, .wpb_column.dt-col-hxlg-5, .wpb_column.rs_col-hxlg-5 { width: 41.66666667%; }
		.dt-col-hxlg-4, .wpb_column.dt-col-hxlg-4, .wpb_column.rs_col-hxlg-4 { width: 33.33333333%; }
		.dt-col-hxlg-3, .wpb_column.dt-col-hxlg-3, .wpb_column.rs_col-hxlg-3 { width: 25%; }
		.dt-col-hxlg-2, .wpb_column.dt-col-hxlg-2, .wpb_column.rs_col-hxlg-2 { width: 16.66666667%; }
		.dt-col-hxlg-1, .wpb_column.dt-col-hxlg-1, .wpb_column.rs_col-hxlg-1 { width: 8.33333333%; }

		.dt-col-hxlg-offset-12, .rs_col-hxlg-offset-12 { margin-left: 100% }
		.dt-col-hxlg-offset-11, .rs_col-hxlg-offset-11 { margin-left: 91.66666667% }
		.dt-col-hxlg-offset-10, .rs_col-hxlg-offset-10 { margin-left: 83.33333333% }
		.dt-col-hxlg-offset-9, .rs_col-hxlg-offset-9 { margin-left: 75% }
		.dt-col-hxlg-offset-8, .rs_col-hxlg-offset-8 { margin-left: 66.66666667% }
		.dt-col-hxlg-offset-7, .rs_col-hxlg-offset-7 { margin-left: 58.33333333% }
		.dt-col-hxlg-offset-6, .rs_col-hxlg-offset-6 { margin-left: 50% }
		.dt-col-hxlg-offset-5, .rs_col-hxlg-offset-5 { margin-left: 41.66666667% }
		.dt-col-hxlg-offset-4, .rs_col-hxlg-offset-4 { margin-left: 33.33333333% }
		.dt-col-hxlg-offset-3, .rs_col-hxlg-offset-3 { margin-left: 25% }
		.dt-col-hxlg-offset-2, .rs_col-hxlg-offset-2 { margin-left: 16.66666667% }
		.dt-col-hxlg-offset-1, .rs_col-hxlg-offset-1 { margin-left: 8.33333333% }
		.dt-col-hxlg-offset-0, .rs_col-hxlg-offset-0 { margin-left: 0 }	

		.dt-hidden-hxlg, .rs_hidden-hxlg { display: none !important; }
				
		.wpb_column[class*="rs_col-hxlg-offset"],
		.rs_col-hxlg-6.wpb_column[class*="rs_col-hxlg-offset"], 
		.rs_col-hxlg-8.wpb_column[class*="rs_col-hxlg-offset"], 
		.rs_col-hxlg-10.wpb_column[class*="rs_col-hxlg-offset"], 
		.rs_col-hxlg-12.wpb_column { margin-bottom: 20px; }

		.rs_col-hxlg-nospace-bottom.wpb_column, .rs_col-hxlg-12 ~ .rs_col-hxlg-12, 
		.rs_col-hxlg-12.wpb_column:last-child, .rs_col-hxlg-8.wpb_column:last-child,
		.vc_row-no-padding > .rs_col-hxlg-12.wpb_column, .vc_row-no-padding .rs_col-qxlg-12.wpb_column,
		.vc_row.vc_row-o-equal-height:not(.vc_row-no-padding) > .rs_col-hxlg-12.wpb_column ~ .rs_col-hxlg-12.dt-sc-skin-highlight, 
		.vc_row.vc_row-o-equal-height:not(.vc_row-no-padding) > .rs_col-hxlg-12.wpb_column ~ .rs_col-hxlg-12.vc_col-has-fill { margin-bottom: 0; }
		
		.rs_margin-hxlg-none.vc_row { margin-left: 0 !important; margin-right: 0 !important; }
		.rs_margin-hxlg-default.vc_row { margin-left: -15px !important; margin-right: -15px !important; }
		.rs_margintop-hxlg-none.vc_row, .rs_margintop-hxlg-none.wpb_column { margin-top: 0 !important }
		.rs_marginbottom-hxlg-none.vc_row, .rs_marginbottom-hxlg-none.wpb_column { margin-bottom: 0 !important }

		.rs_paddingtop-hxlg-none.vc_row, .rs_paddingtop-hxlg-none.wpb_column > .vc_column-inner { padding-top: 0 !important }
		.rs_paddingbottom-hxlg-none.vc_row, .rs_paddingbottom-hxlg-none.wpb_column > .vc_column-inner { padding-bottom: 0 !important }		
			 
		.rs_aligncenter_hxlg h1, .rs_aligncenter_hxlg h2, .rs_aligncenter_hxlg h3, 
		.rs_aligncenter_hxlg h4, .rs_aligncenter_hxlg h5, .rs_aligncenter_hxlg h6, 
		.rs_aligncenter_hxlg p, .rs_aligncenter_hxlg div[class*="vc_custom"], .rs_aligncenter_hxlg div, .rs_aligncenter_hxlg { text-align: center !important; }	

		.rs_aligncenter_hxlg .alignleft, .rs_aligncenter_hxlg .alignright { text-align: center; }	

	}

	/*----*****---- << Laptop/Notebook >> ----*****----*/

	@media only screen and (min-width:1200px) and (max-width:1440px) {
		
		/*----*****---- <<Container >> ----*****----*/	
		.container, .layout-boxed .vc_row .dt-sc-stretch-row-content, .left-header #header-wrapper .top-bar .container { width: 1080px; }
		.container.fill-container, .page-template-tpl-fullwidth .section-wrapper.fullwidth-section .container.fill-stretch-row { width: 1110px; }
		.layout-boxed .wrapper, .layout-boxed .main-header-wrapper, .layout-boxed .is-sticky #header-wrapper, .layout-boxed.standard-header .main-header-wrapper { width: 1120px; }
		#header .dt-header-tpl .sticky-wrapper .apply-sticky-header { max-width: 1080px; }
		
		#primary { width:750px; }
		#secondary, #secondary-right, #secondary-left { width:270px; }
		#primary.with-both-sidebar { width:470px; } 
				
		.layout-boxed .vc_row.vc_row-no-padding { margin: 0 -30px; }


		/*----*****---- << Custom Responsive Columns >> ----*****----*/	
		
		.dt-col-qxlg-12, .wpb_column.dt-col-qxlg-12, .wpb_column.rs_col-qxlg-12 { width: 100%; }
		.dt-col-qxlg-11, .wpb_column.dt-col-qxlg-11, .wpb_column.rs_col-qxlg-11 { width: 91.66666667%; }
		.dt-col-qxlg-10, .wpb_column.dt-col-qxlg-10, .wpb_column.rs_col-qxlg-10 { width: 83.33333333%; }
		.dt-col-qxlg-9, .wpb_column.dt-col-qxlg-9, .wpb_column.rs_col-qxlg-9 { width: 75%; }
		.dt-col-qxlg-8, .wpb_column.dt-col-qxlg-8, .wpb_column.rs_col-qxlg-8 { width: 66.66666667%; }
		.dt-col-qxlg-7, .wpb_column.dt-col-qxlg-7, .wpb_column.rs_col-qxlg-7 { width: 58.33333333%; }
		.dt-col-qxlg-6, .wpb_column.dt-col-qxlg-6, .wpb_column.rs_col-qxlg-6 { width: 50%; }
		.dt-col-qxlg-5, .wpb_column.dt-col-qxlg-5, .wpb_column.rs_col-qxlg-5 { width: 41.66666667%; }
		.dt-col-qxlg-4, .wpb_column.dt-col-qxlg-4, .wpb_column.rs_col-qxlg-4 { width: 33.33333333%; }
		.dt-col-qxlg-3, .wpb_column.dt-col-qxlg-3, .wpb_column.rs_col-qxlg-3 { width: 25%; }
		.dt-col-qxlg-2, .wpb_column.dt-col-qxlg-2, .wpb_column.rs_col-qxlg-2 { width: 16.66666667%; }
		.dt-col-qxlg-1, .wpb_column.dt-col-qxlg-1, .wpb_column.rs_col-qxlg-1 { width: 8.33333333%; }

		.dt-col-qxlg-offset-12, .rs_col-qxlg-offset-12 { margin-left: 100% }
		.dt-col-qxlg-offset-11, .rs_col-qxlg-offset-11 { margin-left: 91.66666667% }
		.dt-col-qxlg-offset-10, .rs_col-qxlg-offset-10 { margin-left: 83.33333333% }
		.dt-col-qxlg-offset-9, .rs_col-qxlg-offset-9 { margin-left: 75% }
		.dt-col-qxlg-offset-8, .rs_col-qxlg-offset-8 { margin-left: 66.66666667% }
		.dt-col-qxlg-offset-7, .rs_col-qxlg-offset-7 { margin-left: 58.33333333% }
		.dt-col-qxlg-offset-6, .rs_col-qxlg-offset-6 { margin-left: 50% }
		.dt-col-qxlg-offset-5, .rs_col-qxlg-offset-5 { margin-left: 41.66666667% }
		.dt-col-qxlg-offset-4, .rs_col-qxlg-offset-4 { margin-left: 33.33333333% }
		.dt-col-qxlg-offset-3, .rs_col-qxlg-offset-3 { margin-left: 25% }
		.dt-col-qxlg-offset-2, .rs_col-qxlg-offset-2 { margin-left: 16.66666667% }
		.dt-col-qxlg-offset-1, .rs_col-qxlg-offset-1 { margin-left: 8.33333333% }
		.dt-col-qxlg-offset-0, .rs_col-qxlg-offset-0 { margin-left: 0 }		

		.rs_hidden-qxlg, .dt-hidden-qxlg { display: none !important; }

		.rs_col-qxlg-6.wpb_column[class*="rs_col-qxlg-offset"], 
		.rs_col-qxlg-8.wpb_column[class*="rs_col-qxlg-offset"], 
		.rs_col-qxlg-10.wpb_column[class*="rs_col-qxlg-offset"], 
		.rs_col-qxlg-12.wpb_column, .wpb_column[class*="rs_col-qxlg-offset"] { margin-bottom: 20px; }

		.rs_col-qxlg-nospace-bottom.wpb_column, .rs_col-qxlg-12 ~ .rs_col-qxlg-12, 
		.rs_col-qxlg-12.wpb_column:last-child, .rs_col-qxlg-8.wpb_column:last-child,
		.vc_row-no-padding > .rs_col-qxlg-12.wpb_column, .vc_row-no-padding .rs_col-qxlg-12.wpb_column,
		.vc_row.vc_row-o-equal-height:not(.vc_row-no-padding) > .rs_col-qxlg-12.wpb_column ~ .rs_col-qxlg-12.dt-sc-skin-highlight, 
		.vc_row.vc_row-o-equal-height:not(.vc_row-no-padding) > .rs_col-qxlg-12.wpb_column ~ .rs_col-qxlg-12.vc_col-has-fill { margin-bottom: 0; }

		.rs_margin-qxlg-none.vc_row { margin-left: 0 !important; margin-right: 0 !important; }
		.rs_margin-qxlg-default.vc_row { margin-left: -15px !important; margin-right: -15px !important; }
		.rs_margintop-qxlg-none.vc_row, .rs_margintop-qxlg-none.wpb_column { margin-top: 0 !important }
		.rs_marginbottom-qxlg-none.vc_row, .rs_marginbottom-qxlg-none.wpb_column { margin-bottom: 0 !important }	

		.rs_paddingtop-qxlg-none.vc_row, .rs_paddingtop-qxlg-none.wpb_column > .vc_column-inner { padding-top: 0 !important }
		.rs_paddingbottom-qxlg-none.vc_row, .rs_paddingbottom-qxlg-none.wpb_column > .vc_column-inner { padding-bottom: 0 !important }					

		.rs_aligncenter_qxlg h1, .rs_aligncenter_qxlg h2, .rs_aligncenter_qxlg h3, 
		.rs_aligncenter_qxlg h4, .rs_aligncenter_qxlg h5, .rs_aligncenter_qxlg h6, 
		.rs_aligncenter_qxlg p, .rs_aligncenter_qxlg div[class*="vc_custom"], .rs_aligncenter_qxlg div, .rs_aligncenter_qxlg { text-align: center !important; }					
		.rs_aligncenter_qxlg .alignleft, .rs_aligncenter_qxlg .alignright { text-align: center; }	


	}

	@media only screen and (min-width:1200px) {

		.wpb_column.dt-sc-one-fifth { width: 20%; }
		.wpb_column.dt-sc-two-fifth { width: 40%; }
		.wpb_column.dt-sc-three-fifth { width: 60%; }
		.wpb_column.dt-sc-four-fifth { width: 80%; }


		.dt-col-lg-12, .wpb_column.dt-col-lg-12 { width: 100%; }
		.dt-col-lg-11, .wpb_column.dt-col-lg-11 { width: 91.66666667%; }
		.dt-col-lg-10, .wpb_column.dt-col-lg-10 { width: 83.33333333%; }
		.dt-col-lg-9, .wpb_column.dt-col-lg-9 { width: 75%; }
		.dt-col-lg-8, .wpb_column.dt-col-lg-8 { width: 66.66666667%; }
		.dt-col-lg-7, .wpb_column.dt-col-lg-7 { width: 58.33333333%; }
		.dt-col-lg-6, .wpb_column.dt-col-lg-6 { width: 50%; }
		.dt-col-lg-5, .wpb_column.dt-col-lg-5 { width: 41.66666667%; }
		.dt-col-lg-4, .wpb_column.dt-col-lg-4 { width: 33.33333333%; }
		.dt-col-lg-3, .wpb_column.dt-col-lg-3 { width: 25%; }
		.dt-col-lg-2, .wpb_column.dt-col-lg-2 { width: 16.66666667%; }
		.dt-col-lg-1, .wpb_column.dt-col-lg-1 { width: 8.33333333%; }		

	}	

	 
	/*----*****---- << Tablet (Landscape) >> ----*****----*/

	/* Note: Design for a width of 960px */	
    @media only screen and (min-width:992px) and (max-width:1199px) {
		
		/*----*****---- << Container >> ----*****----*/	
		.container, .type5.tribe_events .container .container, .layout-boxed .vc_row .dt-sc-stretch-row-content { width:900px; }
		.container.fill-container, .page-template-tpl-fullwidth .section-wrapper.fullwidth-section .container.fill-stretch-row { width:930px; }
		.layout-boxed .wrapper { width:940px; }
		
		#header .dt-header-tpl .sticky-wrapper .apply-sticky-header, .page-with-sidebar .vc_row-no-padding .dt-sc-newsletter-section.type7 { max-width:900px; }
		
		#primary { width:590px; }
		#primary.with-both-sidebar { width:330px; }
		#secondary, #secondary-right, #secondary-left { width:250px; }
		
		.layout-boxed .vc_row.vc_row-no-padding { margin: 0 -20px; }
		
		
		/*----*****---- << Columns >> ----*****----*/
		
		.dt-col-md-12, .wpb_column.dt-col-md-12 { width: 100%; }
		.dt-col-md-11, .wpb_column.dt-col-md-11 { width: 91.66666667%; }
		.dt-col-md-10, .wpb_column.dt-col-md-10 { width: 83.33333333%; }
		.dt-col-md-9, .wpb_column.dt-col-md-9 { width: 75%; }
		.dt-col-md-8, .wpb_column.dt-col-md-8 { width: 66.66666667%; }
		.dt-col-md-7, .wpb_column.dt-col-md-7 { width: 58.33333333%; }
		.dt-col-md-6, .wpb_column.dt-col-md-6 { width: 50%; }
		.dt-col-md-5, .wpb_column.dt-col-md-5 { width: 41.66666667%; }
		.dt-col-md-4, .wpb_column.dt-col-md-4 { width: 33.33333333%; }
		.dt-col-md-3, .wpb_column.dt-col-md-3 { width: 25%; }
		.dt-col-md-2, .wpb_column.dt-col-md-2 { width: 16.66666667%; }
		.dt-col-md-1, .wpb_column.dt-col-md-1 { width: 8.33333333%; }

		.dt-col-md-offset-12 { margin-left: 100% }
		.dt-col-md-offset-11 { margin-left: 91.66666667% }
		.dt-col-md-offset-10 { margin-left: 83.33333333% }
		.dt-col-md-offset-9 { margin-left: 75% }
		.dt-col-md-offset-8 { margin-left: 66.66666667% }
		.dt-col-md-offset-7 { margin-left: 58.33333333% }
		.dt-col-md-offset-6 { margin-left: 50% }
		.dt-col-md-offset-5 { margin-left: 41.66666667% }
		.dt-col-md-offset-4 { margin-left: 33.33333333% }
		.dt-col-md-offset-3 { margin-left: 25% }
		.dt-col-md-offset-2 { margin-left: 16.66666667% }
		.dt-col-md-offset-1 { margin-left: 8.33333333% }
		.dt-col-md-offset-0 { margin-left: 0 }		

		.dt-hidden-md { display: none !important; }

		.wpb_column.dt-sc-one-fifth:not([class*="vc_col-md"]) { width: 20%; }
		.wpb_column.dt-sc-two-fifth:not([class*="vc_col-md"]) { width: 40%; }
		.wpb_column.dt-sc-three-fifth:not([class*="vc_col-md"]) { width: 60%; }
		.wpb_column.dt-sc-four-fifth:not([class*="vc_col-md"]) { width: 80%; }		

		.vc_col-md-6.wpb_column[class*="vc_col-md-offset"], 
		.vc_col-md-8.wpb_column[class*="vc_col-md-offset"], 
		.vc_col-md-10.wpb_column[class*="vc_col-md-offset"], 
		.vc_col-md-12.wpb_column, .wpb_column[class*="vc_col-md-offset"] { margin-bottom: 30px; }

		.rs_col-md-nospace-bottom.wpb_column, .vc_col-md-12 ~ .vc_col-md-12, 
		.vc_col-md-12.wpb_column:last-child, .vc_col-md-8.wpb_column:last-child,
		.vc_row-no-padding > .vc_col-md-12.wpb_column, .vc_row-no-padding .vc_col-md-12.wpb_column,
		.vc_row.vc_row-o-equal-height:not(.vc_row-no-padding) > .vc_col-md-12.wpb_column ~ .vc_col-md-12.dt-sc-skin-highlight, 
		.vc_row.vc_row-o-equal-height:not(.vc_row-no-padding) > .vc_col-md-12.wpb_column ~ .vc_col-md-12.vc_col-has-fill { margin-bottom: 0; }

		.rs_margin-md-none.vc_row { margin-left: 0 !important; margin-right: 0 !important; }
		.rs_margin-md-default.vc_row { margin-left: -15px !important; margin-right: -15px !important; }
		.rs_margintop-md-none.vc_row, .rs_margintop-md-none.wpb_column { margin-top: 0 !important }
		.rs_marginbottom-md-none.vc_row, .rs_marginbottom-md-none.wpb_column { margin-bottom: 0 !important }

		.rs_paddingtop-md-none.vc_row, .rs_paddingtop-md-none.wpb_column > .vc_column-inner { padding-top: 0 !important }
		.rs_paddingbottom-md-none.vc_row, .rs_paddingbottom-md-none.wpb_column > .vc_column-inner { padding-bottom: 0 !important }				
		
		.rs_margin_top_md-150.vc_row,
		.rs_margin_top_md-150.wpb_column .vc_column-inner { margin-top: 150px !important; }		

		.rs_aligncenter_md h1, .rs_aligncenter_md h2, .rs_aligncenter_md h3, 
		.rs_aligncenter_md h4, .rs_aligncenter_md h5, .rs_aligncenter_md h6, 
		.rs_aligncenter_md p, .rs_aligncenter_md div[class*="vc_custom"], .rs_aligncenter_md div, .rs_aligncenter_md { text-align: center !important; }		

		.rs_aligncenter_md .alignleft, .rs_aligncenter_md .alignright { text-align: center; }	
	
	 }
	  
	 
	/*----*****---- << Tablet (Portrait) >> ----*****----*/	

	/* Note: Design for a width of 768px */
	@media only screen and (min-width:768px) and (max-width:991px) {
		

		/*----*****---- << Container >> ----*****----*/	
		.container, .type5.tribe_events .container .container, .layout-boxed .vc_row .dt-sc-stretch-row-content { width:710px; }
		.container.fill-container, .page-template-tpl-fullwidth .section-wrapper.fullwidth-section .container.fill-stretch-row { width:740px; }
		.layout-boxed .wrapper { width:750px; }
		
		
		#header .dt-header-tpl .sticky-wrapper .apply-sticky-header, .page-with-sidebar .vc_row-no-padding .dt-sc-newsletter-section.type7 { max-width:710px; }
		
		#primary { width:445px }
		#primary.with-left-sidebar { margin-left: 35px; }
		#primary.with-right-sidebar { margin-right: 35px; }
		#primary.with-both-sidebar { width:240px; }
		#secondary, #secondary-right, #secondary-left { width:230px; }
		#secondary-right.secondary-has-both-sidebar, #secondary-left.secondary-has-both-sidebar { width: 200px; }
		
		.layout-boxed .vc_row.vc_row-no-padding { margin: 0 -20px; }

		
		/*----*****---- << Custom Responsive Columns >> ----*****----*/	
		
		.dt-col-sm-12, .wpb_column.dt-col-sm-12, .wpb_column.rs_col-sm-12 { width: 100%; }
		.dt-col-sm-11, .wpb_column.dt-col-sm-11, .wpb_column.rs_col-sm-11 { width: 91.66666667%; }
		.dt-col-sm-10, .wpb_column.dt-col-sm-10, .wpb_column.rs_col-sm-10 { width: 83.33333333%; }
		.dt-col-sm-9, .wpb_column.dt-col-sm-9, .wpb_column.rs_col-sm-9 { width: 75%; }
		.dt-col-sm-8, .wpb_column.dt-col-sm-8, .wpb_column.rs_col-sm-8 { width: 66.66666667%; }
		.dt-col-sm-7, .wpb_column.dt-col-sm-7, .wpb_column.rs_col-sm-7 { width: 58.33333333%; }
		.dt-col-sm-6, .wpb_column.dt-col-sm-6, .wpb_column.rs_col-sm-6 { width: 50%; }
		.dt-col-sm-5, .wpb_column.dt-col-sm-5, .wpb_column.rs_col-sm-5 { width: 41.66666667%; }
		.dt-col-sm-4, .wpb_column.dt-col-sm-4, .wpb_column.rs_col-sm-4 { width: 33.33333333%; }
		.dt-col-sm-3, .wpb_column.dt-col-sm-3, .wpb_column.rs_col-sm-3 { width: 25%; }
		.dt-col-sm-2, .wpb_column.dt-col-sm-2, .wpb_column.rs_col-sm-2 { width: 16.66666667%; }
		.dt-col-sm-1, .wpb_column.dt-col-sm-1, .wpb_column.rs_col-sm-1 { width: 8.33333333%; }


		.dt-col-sm-offset-12 { margin-left: 100% }
		.dt-col-sm-offset-11 { margin-left: 91.66666667% }
		.dt-col-sm-offset-10 { margin-left: 83.33333333% }
		.dt-col-sm-offset-9 { margin-left: 75% }
		.dt-col-sm-offset-8 { margin-left: 66.66666667% }
		.dt-col-sm-offset-7 { margin-left: 58.33333333% }
		.dt-col-sm-offset-6 { margin-left: 50% }
		.dt-col-sm-offset-5 { margin-left: 41.66666667% }
		.dt-col-sm-offset-4 { margin-left: 33.33333333% }
		.dt-col-sm-offset-3 { margin-left: 25% }
		.dt-col-sm-offset-2 { margin-left: 16.66666667% }
		.dt-col-sm-offset-1 { margin-left: 8.33333333% }
		.dt-col-sm-offset-0 { margin-left: 0 }		

		.dt-hidden-sm { display: none !important; }

		
		.wpb_column.dt-sc-one-fifth:not([class*="rs_col-sm"]) { width: 20%; }
		.wpb_column.dt-sc-two-fifth:not([class*="rs_col-sm"]) { width: 40%; }
		.wpb_column.dt-sc-three-fifth:not([class*="rs_col-sm"]) { width: 60%; }
		.wpb_column.dt-sc-four-fifth:not([class*="rs_col-sm"]) { width: 80%; }
		 
		.rs_col-sm-6.wpb_column[class*="vc_col-md-offset"],
		.rs_col-sm-8.wpb_column[class*="vc_col-md-offset"],
		.rs_col-sm-10.wpb_column[class*="vc_col-md-offset"], 
		.rs_col-sm-12.wpb_column, .wpb_column[class*="vc_col-md-offset"] { margin-bottom: 20px; }

		.rs_col-sm-nospace-bottom.wpb_column, .rs_col-sm-12 ~ .rs_col-sm-12, 
		.rs_col-sm-12.wpb_column:last-child, .rs_col-sm-8.wpb_column:last-child,
		.vc_row-no-padding > .rs_col-sm-12.wpb_column, .vc_row-no-padding .rs_col-sm-12.wpb_column,
		.vc_row.vc_row-o-equal-height:not(.vc_row-no-padding) > .rs_col-sm-12.wpb_column ~ .rs_col-sm-12.dt-sc-skin-highlight, 
		.vc_row.vc_row-o-equal-height:not(.vc_row-no-padding) > .rs_col-sm-12.wpb_column ~ .rs_col-sm-12.vc_col-has-fill { margin-bottom: 0; }

		.rs_margin-sm-none.vc_row { margin-left: 0 !important; margin-right: 0 !important; }
		.rs_margin-sm-default.vc_row { margin-left: -15px !important; margin-right: -15px !important; }	
		.rs_margintop-sm-none.vc_row, .rs_margintop-sm-none.wpb_column { margin-top: 0 !important }
		.rs_marginbottom-sm-none.vc_row, .rs_marginbottom-sm-none.wpb_column { margin-bottom: 0 !important }		
		
		.rs_paddingtop-sm-none.vc_row, .rs_paddingtop-sm-none.wpb_column > .vc_column-inner { padding-top: 0 !important }
		.rs_paddingbottom-sm-none.vc_row, .rs_paddingbottom-sm-none.wpb_column > .vc_column-inner { padding-bottom: 0 !important }		

		.rs_aligncenter_sm h1, .rs_aligncenter_sm h2, .rs_aligncenter_sm h3, 
		.rs_aligncenter_sm h4, .rs_aligncenter_sm h5, .rs_aligncenter_sm h6, 
		.rs_aligncenter_sm p, .rs_aligncenter_sm div[class*="vc_custom"], .rs_aligncenter_sm div, .rs_aligncenter_sm { text-align: center !important; }		
		
		.rs_aligncenter_sm .alignleft, .rs_aligncenter_sm .alignright { text-align: center; }	

		.rs_margin_top_sm-50.vc_row, .rs_margin_top_sm-50.wpb_column .vc_column-inner { margin-top: 50px !important; }
		.rs_margin_top_sm-150.vc_row, .rs_margin_top_sm-150.wpb_column .vc_column-inner { margin-top: 150px !important; }
		.rs_margin_top_sm_alt-75.vc_row, .rs_margin_top_sm_alt-75.wpb_column .vc_column-inner { margin-top: -75px !important; }
		
		
	}
	
	/*----*****---- << Mobile (Landscape) >> ----*****----*/	

	/* Common Styles for the devices below 767px width */
	 @media only screen and (max-width: 767px) {
		 
		 /*----*****---- << Content >> ----*****----*/		
		#primary { width:100%; }
		#primary.with-both-sidebar { width:100%; margin:0; }
		#primary.with-left-sidebar { margin-left:0; }
		#primary.with-right-sidebar { margin-right:0; }
		#secondary, #secondary-right, #secondary-left { width:100%; }
		
		
		/*----*****---- << Column >> ----*****----*/	
		.column { margin-left: 0; }
		.column, .wpb_column { margin-bottom: 20px; }
		.wpb_column .wpb_column { padding: 0; }
					   
		.column, .column.no-space, 
		
		.dt-sc-one-half, .dt-sc-three-sixth, .column.no-space.dt-sc-one-half, .column.no-space.dt-sc-three-sixth, 
		.dt-sc-one-third, .dt-sc-two-sixth, .column.no-space.dt-sc-one-third, .column.no-space.dt-sc-two-sixth, 
		.dt-sc-two-third, .dt-sc-four-sixth, .column.no-space.dt-sc-two-third, .column.no-space.dt-sc-four-sixth, 

		.dt-sc-one-fourth, .column.no-space.dt-sc-one-fourth, 
		.dt-sc-three-fourth, .column.no-space.dt-sc-three-fourth, 

		.dt-sc-one-fifth, .column.no-space.dt-sc-one-fifth, 
		.dt-sc-two-fifth, .column.no-space.dt-sc-two-fifth, 
		.dt-sc-three-fifth, .column.no-space.dt-sc-three-fifth, 
		.dt-sc-four-fifth, .column.no-space.dt-sc-four-fifth, 

		.dt-sc-one-sixth, .column.no-space.dt-sc-one-sixth, 
		.dt-sc-five-sixth, .column.no-space.dt-sc-five-sixth

		.dt-col, div[class*="dt-col"], section[class*="dt-col"], li[class*="dt-col"] { width: 100%; }

		.wpb_column:not([class*="vc_col-xs"]), 
		.dt-sc-one-fifth.wpb_column:not([class*="vc_col-xs"]), 
		.dt-sc-two-fifth.wpb_column:not([class*="vc_col-xs"]), 
		.dt-sc-three-fifth.wpb_column:not([class*="vc_col-xs"]), 
		.dt-sc-four-fifth.wpb_column:not([class*="vc_col-xs"]) { float: left; width: 100%; }

		.wpb_column[class*="vc_col-xs-offset"] { margin-left: 0; }		

		.dt-hidden-sm { display: none !important; }


		.rs_col-xs-nospace-bottom.wpb_column { margin-bottom: 0; }		

		.rs_margin-xs-none.vc_row { margin-left: 0 !important; margin-right: 0 !important; }
		.rs_margin-xs-default.vc_row { margin-left: -15px !important; margin-right: -15px !important; }

		.rs_margintop-xs-none.vc_row, .rs_margintop-xs-none.wpb_column { margin-top: 0 !important }
		.rs_marginbottom-xs-none.vc_row, .rs_marginbottom-xs-none.wpb_column { margin-bottom: 0 !important }		
		
		.rs_paddingtop-xs-none.vc_row, .rs_paddingtop-xs-none.wpb_column > .vc_column-inner { padding-top: 0 !important }
		.rs_paddingbottom-xs-none.vc_row, .rs_paddingbottom-xs-none.wpb_column > .vc_column-inner { padding-bottom: 0 !important }			

		.rs_padding-xs-none.vc_row { padding-left: 0 !important; padding-right: 0 !important; }
		.rs_padding-xs-default.vc_row { padding-left: 15px !important; padding-right: 15px !important; }	
		
		.rs_margin-xs-none.wpb_column > .vc_column-inner { margin-left: 0 !important; margin-right: 0 !important; }
		.rs_margin-xs-15.wpb_column > .vc_column-inner { margin-left: 15px !important; margin-right: 15px !important; }

		.rs_padding-xs-none.wpb_column > .vc_column-inner { padding-left: 0 !important; padding-right: 0 !important; }
		.rs_padding-xs-default.wpb_column > .vc_column-inner { padding-left: 15px !important; padding-right: 15px !important; }
		
		.rs_aligncenter_xs h1, .rs_aligncenter_xs h2, .rs_aligncenter_xs h3, 
		.rs_aligncenter_xs h4, .rs_aligncenter_xs h5, .rs_aligncenter_xs h6, 
		.rs_aligncenter_xs p, .rs_aligncenter_xs div[class*="vc_custom"], .rs_aligncenter_xs div, .rs_aligncenter_xs { text-align: center !important; }	

		.rs_aligncenter_xs .alignleft, .rs_aligncenter_xs .alignright { text-align: center; }	

		
		#secondary-left.secondary-sidebar,#secondary-right.secondary-sidebar { display: table-cell; float: none; }
		#primary.with-left-sidebar,#primary.with-right-sidebar, #primary.with-both-sidebar { display: table-caption; float: none; margin-bottom:30px; padding-bottom: 40px; }
					
		.layout-boxed .vc_row.vc_row-no-padding { margin: 0; }
		
				
	 }
	
	/*----*****---- << Mobile (Landscape) >> ----*****----*/	
	
    /* Note: Design for a width of 480px */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		
		/*----*****---- << Container >> ----*****----*/
		.container, .type5.tribe_events .container .container, .layout-boxed .vc_row .dt-sc-stretch-row-content { width:420px; }
		.container.fill-container, .page-template-tpl-fullwidth .section-wrapper.fullwidth-section .container.fill-stretch-row { width:450px; }
		.layout-boxed .wrapper { width:460px; }
		
		#primary.with-left-sidebar, #primary.with-right-sidebar, #primary.with-both-sidebar { width:420px; }
		#header .dt-header-tpl .sticky-wrapper .apply-sticky-header, .page-with-sidebar .vc_row-no-padding .dt-sc-newsletter-section.type7 { max-width:420px; }
	}


	/*----*****---- << Mobile - Portrait >> ----*****----*/

	/* Common Styles for the devices below 479px width */
	@media only screen and (max-width: 479px) {	

		.wpb_column[class*="vc_col-xs"], 
		.dt-sc-one-fifth.wpb_column[class*="vc_col-xs"], 
		.dt-sc-two-fifth.wpb_column[class*="vc_col-xs"], 
		.dt-sc-three-fifth.wpb_column[class*="vc_col-xs"], 
		.dt-sc-four-fifth.wpb_column[class*="vc_col-xs"] { width: 100%; }

	}
	
	
	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (min-width: 320px) and (max-width: 479px) {
		
		/*----*****---- << Container >> ----*****----*/	
		.container, .layout-boxed .vc_row .dt-sc-stretch-row-content { width:290px; }
		.container.fill-container, .page-template-tpl-fullwidth .section-wrapper.fullwidth-section .container.fill-stretch-row { width:320px; }
		.layout-boxed .wrapper { width:100%; }
		#primary.with-left-sidebar, #primary.with-right-sidebar, #primary.with-both-sidebar { width:290px; }
		#header .dt-header-tpl .sticky-wrapper .apply-sticky-header { max-width: 290px; }

		.layout-boxed .vc_row.vc_row-no-padding { width:100% !important; left:0px !important; }
		
	}
	
	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 319px) {
		
		/*----*****---- << Container >> ----*****----*/	
		.container, .type5.tribe_events .container .container, .layout-boxed .vc_row .dt-sc-stretch-row-content { width:200px; }
		.container.fill-container, .page-template-tpl-fullwidth .section-wrapper.fullwidth-section .container.fill-stretch-row { width:230px; }
		.layout-boxed .wrapper { width:100%; }
		#primary.with-left-sidebar, #primary.with-right-sidebar, #primary.with-both-sidebar { width:200px; }
		#header .dt-header-tpl .sticky-wrapper .apply-sticky-header, .page-with-sidebar .vc_row-no-padding .dt-sc-newsletter-section.type7 { max-width:200px; }
		
	}